Pre-Prod - Create a dummy dataset representative of common scenarios of Sourcegraph Cloud

### Context 

Pre-Prod deployments possibly require some data to be able to perform meaningful smoke and integration tests that are adding up to our confidence in cloud deployments. This dataset is used to populate the pre-prod environment on each deployment.

Before working on the dataset itself, we need to understand what kind of data is needed by the test themselves. 

Ultimately, this will probably boil down to a script to restore the pre prod state on each run, if and only if the tests themselves require a specific dataset. 

### Plan

1. ➡️ @sourcegraph/cloud-saas + @sourcegraph/dev-experience: Gather the definition of a minimal set of tests that we could run on preprod (and possibly prod) to build up confidence in the changes shipped in the deployment. 
2. @sourcegraph/cloud-devops  + @sourcegraph/dev-experience: Review that list of scenarios and come up with what kind of data and strategy we want to use to populate data in the preprod environment. 

### Definition of done

1. The dataset is representative of common scenarios on Sourcegraph Cloud that are tested. 
2. The dataset can easily be injected into the pre-prod environment. 
3. The process to create that dataset is documented. 
4. The process to create the dataset doesn't have to be easy or simple in the first iteration.  

### Outcome

- TBD

### Resources

- [Miro Board](https://miro.com/app/board/uXjVOKqPSDM=/)
- [RFC 592](https://docs.google.com/document/d/13kVYJSoTWYgyeBFXeJnasF3WU7SHyOjhSNpp9yV_pvY/edit#)
- [RFC 586](https://docs.google.com/document/d/1x7Luv4YM5g3iGxtRcc8YUhf6LKky8P0MOFmbSryrzic/edit#)
- [RFC 562](https://docs.google.com/document/d/1lWq4CTSdiq0OUb2MOeG31Ponk4Ds6oUShrCeNetYxL0/edit#heading=h.trqab8y0kufp) is helpful for identifying areas and teams that could contribute towards defining the smoke tests.

@jhchabran I think the @sourcegraph/cloud-devops needs some more context to understand what we are trying to do here to provide better estimates. 
There are a few things that we need to figure out. 

To replicate the Sourcegraph env for these tests do we only need to restore a certain database? I think we would also need to grab gitserver / index server disks from a certain point in time. 

Is that along the lines you were thinking? 

@daxmc99 I should have mentioned here that this ticket depends on https://github.com/sourcegraph/sourcegraph/issues/33279 which describe the plan. At this stage, we're still collecting requirements, otherwise it's indeed impossible for your team to see clearly what to do. 

Update: I went through the process of backuping and restoring the preprod cluster, state included as we're for sure going to need it when running the tests. 

Assuming we don't backup before a build (which we don't need, as we just simply restore the backup), it should take under a minute to restore the state. 

Closing this as it was implemented as part of https://github.com/sourcegraph/deploy-sourcegraph-cloud/pull/16249. It uses the original dataset that was used to create the preprod (which was dogfood). 