Cloud 2020-09-23 Tracking issue

### Plan

#### Cloud

We plan to complete all functional changes necessary to have individual Sourcegraphers (teammates) be able to add public code on sourcegraph.com. This is part of our first Cloud milestone as documented in [our team page](https://about.sourcegraph.com/handbook/engineering/cloud). All work items on this goal are labeled with `RFC-211` and `team/cloud/milestone-1`.

#### Security

For Cloud Milestone 1, in addition to the functional changes above, we need to complete the necessary work to store relevant secrets securely (i.e. encrypted). Even for public code, it's important that we store teammates access tokens in an encrypted fashion. All work items on this goal are labeled with `RFC-214` and `team/cloud/milestone-1`.

Additionally, we have some miscellaneous security bugs to address, marked appropriately with 🔒 in the Work section below.

#### Backend infrastructure

**RFC 167: Generate new licenses with versioned tags** is small enough and we can get the benefit of new licenses already being versioned, minimising the migration effort needed by the sales team later. The remainder of the work in RFC-167 accounts for roughly 2 weeks and we tentatively plan to take it on in the next cycle.

We'll also work on a number of customer issues and tech-debt, marked appropriately with 👩  and 🧶 in the Work section below.

### Availability

**Period**: 23rd of September until the 6th of October (10 working days)

If you have planned unavailability this iteration (e.g., vacation), you can note that here.

- @ryanslade: 24th of September (1d) 
- @daxmc99: 28th of September (1d)
- @unknwon: 1st until 8th of October (4d)

### Work

<!-- BEGIN WORK -->
<!-- BEGIN ASSIGNEE: asdine -->
@asdine: __8.00d__

- [ ] sourcegraph/customer ([#48](https://github.com/sourcegraph/customer/issues/48)) __1.00d__ 👩
- [ ] RFC 211 Tracking issue ([#14163](https://github.com/sourcegraph/sourcegraph/issues/14163)) __6.50d__
  - [x] (🏁 6 days ago) RFC 211: Repo updater should sync external services separately ([~#14041~](https://github.com/sourcegraph/sourcegraph/issues/14041)) __2.00d__
  - [x] (🏁 today) RFC 211: Repos added by user owned external services should be indexed ([~#14042~](https://github.com/sourcegraph/sourcegraph/issues/14042)) __1.00d__
  - [x] (🏁 today) RFC 211: Add alert if repo sync jobs are not consumed ([~#14045~](https://github.com/sourcegraph/sourcegraph/issues/14045)) __1.00d__
  - [x] (🏁 5 days ago) RFC 211: Remove completed jobs from external_service_sync_jobs table ([~#14048~](https://github.com/sourcegraph/sourcegraph/issues/14048); PRs: ~[#14098](https://github.com/sourcegraph/sourcegraph/pull/14098)~) __0.50d__
  - [x] (🏁 today) RFC 211: User added external services on Cloud should clone newly added repos on first sync ([~#14315~](https://github.com/sourcegraph/sourcegraph/issues/14315); PRs: ~[#14436](https://github.com/sourcegraph/sourcegraph/pull/14436)~) __2.00d__

Completed: __7.00d__
- [x] (🏁 13 days ago) Drop the sources column from the repo table ([~#13401~](https://github.com/sourcegraph/sourcegraph/issues/13401); PRs: ~[#14094](https://github.com/sourcegraph/sourcegraph/pull/14094)~) __0.50d__ 🧶
- [x] (🏁 6 days ago) RFC 211: Repo updater should sync external services separately ([~#14041~](https://github.com/sourcegraph/sourcegraph/issues/14041)) __2.00d__
- [x] (🏁 5 days ago) RFC 211: Remove completed jobs from external_service_sync_jobs table ([~#14048~](https://github.com/sourcegraph/sourcegraph/issues/14048); PRs: ~[#14098](https://github.com/sourcegraph/sourcegraph/pull/14098)~) __0.50d__
- [x] (🏁 today) RFC 211: Repos added by user owned external services should be indexed ([~#14042~](https://github.com/sourcegraph/sourcegraph/issues/14042)) __1.00d__
- [x] (🏁 today) RFC 211: User added external services on Cloud should clone newly added repos on first sync ([~#14315~](https://github.com/sourcegraph/sourcegraph/issues/14315); PRs: ~[#14436](https://github.com/sourcegraph/sourcegraph/pull/14436)~) __2.00d__
- [x] (🏁 today) RFC 211: Add alert if repo sync jobs are not consumed ([~#14045~](https://github.com/sourcegraph/sourcegraph/issues/14045)) __1.00d__
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: daxmc99 -->
@daxmc99: __6.00d__

- [ ] RFC-214: Tracking issue ([#14166](https://github.com/sourcegraph/sourcegraph/issues/14166)) __6.00d__
  - [ ] RFC-214: Encrypt secrets in user_external_accounts, external_services, saved_searches and external_service_repos ([#13853](https://github.com/sourcegraph/sourcegraph/issues/13853)) __5.00d__
  - [x] (🏁 6 days ago) RFC-214: Transparent encryption and decryption for all tables that contain secrets or tokens ([~#13851~](https://github.com/sourcegraph/sourcegraph/issues/13851)) __1.00d__

Completed: __1.00d__
- [x] (🏁 6 days ago) RFC-214: Transparent encryption and decryption for all tables that contain secrets or tokens ([~#13851~](https://github.com/sourcegraph/sourcegraph/issues/13851)) __1.00d__
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: flying-robot -->
@flying-robot: __3.00d__

- [ ] RFC-214: Tracking issue ([#14166](https://github.com/sourcegraph/sourcegraph/issues/14166)) __1.00d__
  - [x] (🏁 11 days ago) RFC-214: Repository Settings > Mirroring should not display token in the UI ([~#13852~](https://github.com/sourcegraph/sourcegraph/issues/13852); PRs: ~[#14153](https://github.com/sourcegraph/sourcegraph/pull/14153)~) __1.00d__

Completed: __3.00d__
- [x] (🏁 11 days ago) RFC-214: Repository Settings > Mirroring should not display token in the UI ([~#13852~](https://github.com/sourcegraph/sourcegraph/issues/13852); PRs: ~[#14153](https://github.com/sourcegraph/sourcegraph/pull/14153)~) __1.00d__
- [x] (🏁 1 day ago) Show last ping data to admins on the Site-admin > Pings page ([~#13956~](https://github.com/sourcegraph/sourcegraph/issues/13956); PRs: ~[#14370](https://github.com/sourcegraph/sourcegraph/pull/14370)~) __2.00d__
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: ryanslade -->
@ryanslade: __7.50d__

- [ ] RFC 211 Tracking issue ([#14163](https://github.com/sourcegraph/sourcegraph/issues/14163)) __6.50d__
  - [x] (🏁 13 days ago) RFC 211: repo-updater new syncer doesn't use s.Logger ([~#13718~](https://github.com/sourcegraph/sourcegraph/issues/13718); PRs: ~[#14095](https://github.com/sourcegraph/sourcegraph/pull/14095)~) __0.50d__
  - [x] (🏁 6 days ago) RFC 211: Repo updater should sync external services separately ([~#14041~](https://github.com/sourcegraph/sourcegraph/issues/14041)) __2.00d__
  - [x] (🏁 today) RFC 211: We should apply a per user and total limit to user added repos ([~#14043~](https://github.com/sourcegraph/sourcegraph/issues/14043); PRs: ~[#14376](https://github.com/sourcegraph/sourcegraph/pull/14376)~) __1.50d__
  - [x] (🏁 5 days ago) RFC 211: Number of concurrent syncers should be configurable ([~#14268~](https://github.com/sourcegraph/sourcegraph/issues/14268); PRs: ~[#14334](https://github.com/sourcegraph/sourcegraph/pull/14334)~) __0.50d__
  - [x] (🏁 today) RFC 211: User added external services on Cloud should clone newly added repos on first sync ([~#14315~](https://github.com/sourcegraph/sourcegraph/issues/14315); PRs: ~[#14436](https://github.com/sourcegraph/sourcegraph/pull/14436)~) __2.00d__
- [ ] RFC-214: Tracking issue ([#14166](https://github.com/sourcegraph/sourcegraph/issues/14166)) __1.00d__
  - [x] (🏁 11 days ago) RFC-214: Repository Settings > Mirroring should not display token in the UI ([~#13852~](https://github.com/sourcegraph/sourcegraph/issues/13852); PRs: ~[#14153](https://github.com/sourcegraph/sourcegraph/pull/14153)~) __1.00d__

Completed: __7.50d__
- [x] (🏁 13 days ago) RFC 211: repo-updater new syncer doesn't use s.Logger ([~#13718~](https://github.com/sourcegraph/sourcegraph/issues/13718); PRs: ~[#14095](https://github.com/sourcegraph/sourcegraph/pull/14095)~) __0.50d__
- [x] (🏁 11 days ago) RFC-214: Repository Settings > Mirroring should not display token in the UI ([~#13852~](https://github.com/sourcegraph/sourcegraph/issues/13852); PRs: ~[#14153](https://github.com/sourcegraph/sourcegraph/pull/14153)~) __1.00d__
- [x] (🏁 6 days ago) repo-updater: Sync single external service at a time using workerutil ([~#14305~](https://github.com/sourcegraph/sourcegraph/pull/14305)) :shipit:
- [x] (🏁 6 days ago) RFC 211: Repo updater should sync external services separately ([~#14041~](https://github.com/sourcegraph/sourcegraph/issues/14041)) __2.00d__
- [x] (🏁 5 days ago) RFC 211: Number of concurrent syncers should be configurable ([~#14268~](https://github.com/sourcegraph/sourcegraph/issues/14268); PRs: ~[#14334](https://github.com/sourcegraph/sourcegraph/pull/14334)~) __0.50d__
- [x] (🏁 4 days ago) repo-updater: Fix metrics ([~#14372~](https://github.com/sourcegraph/sourcegraph/pull/14372)) :shipit:
- [x] (🏁 3 days ago) repo-updater: Fix deleted_at check ([~#14375~](https://github.com/sourcegraph/sourcegraph/pull/14375)) :shipit:
- [x] (🏁 today) RFC 211: We should apply a per user and total limit to user added repos ([~#14043~](https://github.com/sourcegraph/sourcegraph/issues/14043); PRs: ~[#14376](https://github.com/sourcegraph/sourcegraph/pull/14376)~) __1.50d__
- [x] (🏁 today) RFC 211: User added external services on Cloud should clone newly added repos on first sync ([~#14315~](https://github.com/sourcegraph/sourcegraph/issues/14315); PRs: ~[#14436](https://github.com/sourcegraph/sourcegraph/pull/14436)~) __2.00d__
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: tsenart -->
@tsenart


Completed
- [x] (🏁 3 days ago) vcs/git: Handle tags without CreatorDate in git.ListTags ([~#14373~](https://github.com/sourcegraph/sourcegraph/pull/14373)) :shipit:🐛
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: unknwon -->
@unknwon: __8.00d__

- [ ] RFC 167: Generate new licenses with versioned tags ([#14021](https://github.com/sourcegraph/sourcegraph/issues/14021); PRs: [#14236](https://github.com/sourcegraph/sourcegraph/pull/14236)) __1.00d__
- [ ] RFC-214: Tracking issue ([#14166](https://github.com/sourcegraph/sourcegraph/issues/14166)) __6.50d__
  - [ ] RFC-214: Encrypt secrets in user_external_accounts, external_services, saved_searches and external_service_repos ([#13853](https://github.com/sourcegraph/sourcegraph/issues/13853)) __5.00d__
  - [x] (🏁 6 days ago) RFC-214: Transparent encryption and decryption for all tables that contain secrets or tokens ([~#13851~](https://github.com/sourcegraph/sourcegraph/issues/13851)) __1.00d__
  - [x] (🏁 11 days ago) RFC-214: Eyeball validate data being encrypted in the database ([~#13854~](https://github.com/sourcegraph/sourcegraph/issues/13854)) __0.50d__

Completed: __2.00d__
- [x] (🏁 12 days ago) gqltest: code commit and bitbucket tests disabled ([~#14046~](https://github.com/sourcegraph/sourcegraph/issues/14046)) __0.50d__
- [x] (🏁 11 days ago) RFC-214: Eyeball validate data being encrypted in the database ([~#13854~](https://github.com/sourcegraph/sourcegraph/issues/13854)) __0.50d__
- [x] (🏁 6 days ago) RFC-214: Transparent encryption and decryption for all tables that contain secrets or tokens ([~#13851~](https://github.com/sourcegraph/sourcegraph/issues/13851)) __1.00d__
<!-- END ASSIGNEE -->
<!-- END WORK -->

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🎩 Quality of life
- 🛠️ [Roadmap](https://docs.google.com/document/d/1cBsE9801DcBF9chZyMnxRdolqM_1c2pPyGQz15QAvYI/edit#heading=h.5nwl5fv52ess)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- :shipit: Pull Request


This week:
-	Paired with Joe to drive home security work
-   #13851 is in review
-   Outlined the next steps in #13853 to provide table encryption. 
-   https://github.com/sourcegraph/infrastructure/pull/2159 ready to merge for terraform cloud-sql support

Next week:
- 🌴 Taking Monday off 
-  Finish out #13853 & coordinate with the security team to complete the rest of https://docs.google.com/document/d/1VL34MjOInn4eZJRfp2ez5faxr0ymAazrpG6BVt-vbrU/


This week:
- Paired with @daxmc99, #13851 is waiting for review, and planned out work for #13853.
- Re-enabled backend integration tests for external services due to last week's token revocation.

Next week:

- RFC 167: Generate new licenses with versioned tags (#14021)
- Pair with @daxmc99 on #13853.
- 🌴 Off from Oct 1st to Oct 8th.

This week:

- Merged https://github.com/sourcegraph/sourcegraph/pull/14153 (mirror settings)
- Paired with @tsenart and planned work for https://github.com/sourcegraph/sourcegraph/issues/13956

Next week:

- Document plan for https://github.com/sourcegraph/sourcegraph/issues/13956 (surface ping data) in issue and implement
- Move on to additional onboarding tickets from https://github.com/sourcegraph/sourcegraph/issues/13856

This week:
- Paired with @ryanslade on https://github.com/sourcegraph/sourcegraph/issues/14041 (syncing external services separately). We made sure added repos were instantly visible in the admin repositories list page, even though the service was still syncing, and dealt with some concurrency issues.
- Added a background job for cleanup old sync jobs to avoid that table from growing too much https://github.com/sourcegraph/sourcegraph/pull/14098
- Dropped the deprecated `sources` column of the `repo` table https://github.com/sourcegraph/sourcegraph/pull/14094
- Worked on indexing user added repos https://github.com/sourcegraph/sourcegraph/issues/14041

Next week:
- Finish the QA and deploy https://github.com/sourcegraph/sourcegraph/issues/14041
- Finish indexing user added repos https://github.com/sourcegraph/sourcegraph/issues/14041
- Add alerts if sync jobs are not consumed https://github.com/sourcegraph/sourcegraph/issues/14045
- Detect and delete public repository added-on-visit when it become private https://github.com/sourcegraph/sourcegraph/issues/13978

> This week

You all mean "Last week", right? :D

I guess if you do this update on Monday then it makes sense for "Last week" and "This week".

Last week:
- Paired with @asdine  on #14041 . See @asdine's post above for details
- Made sure the syncer used it's own logger. #13718 
- Started work that restricts the number of repos that can be added by users #14043 

This week:
- Test and deploy #14041 
- Finish work on user added repo limits #14043 
- Simplify repos.Store interface #14092 

## Week ending 2nd October

* We merged our new syncer changes!  🥳  Monday ended up being a little stressful though as the merge caused a large spike in memory usage on `repo-updater`. We tracked it down to the fact that our syncer would schedule every repo for cloning, of which there are over 3.5 million in prod. We disabled that code path on Cloud as we don't clone there but rather do it on demand.
* Enforcing user added repo limits: #14043  
* Worked with @tsenart on triaging cloud issues and preparing work for our next cycle

## Next week
* Finish off @unknwon's work on the new `repo-updater` Grafana dashboard
* Ensure that we start cloning user added repos on first sync
* Retrospective and planning for next cycle


## Week ending 2nd October
- Deployed Cloud SQL databases to replace the existing Postgres deployment 
- Deployed an additional Cloud SQL database for the code-intel team.
- Worked towards completing https://github.com/sourcegraph/sourcegraph/issues/13853

## Next week
- Finish up https://github.com/sourcegraph/sourcegraph/issues/13853
- Get last round of feedback on https://github.com/sourcegraph/sourcegraph/issues/13853 and get approvals
- Transition from cloud to distribution team


### Last week

- Merged and deployed syncer changes with @ryanslade ! 🎉 Basically what he said above 👍🏼 
- Worked on indexing user added repos https://github.com/sourcegraph/sourcegraph/pull/14341

### This week

- Finish up https://github.com/sourcegraph/sourcegraph/pull/14341
- Add an alert if repo sync jobs are not consumed https://github.com/sourcegraph/sourcegraph/issues/14045
- Detect and delete public repositories added on visit when they become private https://github.com/sourcegraph/sourcegraph/issues/13978