Cloud: 3.18 Tracking issue

### Status

This tracking issue is being worked on.

### Context

This iteration is the first we're working officially as the cloud team on items from the [RFC 151 roadmap](https://docs.google.com/document/d/1qSSo83MJNcNbJhQOhDyHsGBCYPjyr7uhVQKGfZ8Vxfg/edit#heading=h.az00lc90wa5j), which we have no OKRs for yet.

However, there's still work outside of this roadmap that needs to be completed, and as such has been prioritised in this iteration, namely:

- @unknwon is working on [RFC 167: Enforce product tiers](https://docs.google.com/document/d/1XozQ4JINJqirdaG-XqGtboT2-PlIXPyBn6EwV7Q3pWI/edit), starting with **Spike: Enforcing product tiers #11577** and ensuing work is addressing the OKR `Product: Deliver on projects to increase and support sales efforts. KR: License keys enable features for each license tier.`
- @unknwon is wrapping up work from [RFC 137: Better automated testing](https://docs.google.com/document/d/14f7lwfToeT6t_vxnGsCuXqf3QcB5GRZ2Zoy6kYqBAIQ/edit#heading=h.trqab8y0kufp). There's no specific OKR for this effort.
- @keegancsmith is wrapping up work from [RFC 136: Navigating Version Contexts](https://docs.google.com/document/d/1-Hn3bSVmwZ9iY0nfztXMoDfzWMdOHYTKrhK2F5ZJZI8/edit#) with **Index multiple (non-master) branches #6728** which directly addresses `Product: Deliver on projects to increase and support sales efforts. KR: Users can search across contexts of their organization’s code as outlined in RFC 136. `
- @keegancsmith will be working streaming search support in the context of Sourcegraph Cloud roadmap afterwards — no OKR for this yet.
- @ryanslade main focus will be on **scaling repo-updater** as part of the Sourcegraph Cloud roadmap.
- @daxmc99 main focus will be on [RFC 174: HA Postgres for Sourcegraph Cloud](https://docs.google.com/document/d/1zNy-9QTAS4-i4C-ooFsfSwLf-kdnIJlTE8-uyub6-Ik/edit#heading=h.kct20jix194c) #11496
- @asdine main focus will be on **Store git commits in Postgres** as part of the Sourcegraph Cloud roadmap.

### Availability

Period is from **20th of June** to **20th of July**. Please write the days you won't be working and the number of working days for the period.

- @keegancsmith: TBD
- @tsenart: 21d
- @unknwon: 19d (National holidays June 25-26)
- @ryanslade: 21d
- @daxmc99: 21d
- @asdine: 20d
- Chayim Kirshen (Security Engineer starting June 29th): TBD

### Workload

<!-- BEGIN WORK -->
<!-- BEGIN ASSIGNEE: asdine -->
@asdine: __5.00d__

- [x] repository status page with "cloning" filter is extremely slow [#11029](https://github.com/sourcegraph/sourcegraph/issues/11029) __4d__ 
  - [x] cloud: Repo-updater store repositories clone status in repo table [#11867](https://github.com/sourcegraph/sourcegraph/pull/11867) :shipit:
- [ ] mail package deprecated [#10703](https://github.com/sourcegraph/sourcegraph/issues/10703) 🧶
- [ ] Ability to disable SMTP TLS verification [#10702](https://github.com/sourcegraph/sourcegraph/issues/10702) __1d__ 👩
- [ ] Split resolveRepositories code [#10489](https://github.com/sourcegraph/sourcegraph/pull/10489) :shipit:🧶
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: beyang -->
@beyang

- [ ] Sourcegraph.com behaves like customer instances for a subset of repositories [#10821](https://github.com/sourcegraph/sourcegraph/issues/10821) 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: chayim -->
@chayim

- [ ] Chayim Kirshen On-boarding [#11785](https://github.com/sourcegraph/sourcegraph/issues/11785) 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: daxmc99 -->
@daxmc99: __14.00d__

- [ ] RFC 174: HA Postgres for Sourcegraph Cloud [#11496](https://github.com/sourcegraph/sourcegraph/issues/11496) __10d__ 
- [ ] Add operational playbook for updating external database versions [#1099](https://github.com/sourcegraph/about/issues/1099) 
- [x] add terraform configuration for sourcegraph.com's infrastructure  [#10455](https://github.com/sourcegraph/sourcegraph/issues/10455) __2d__ 
- [x] Terraform migration: Migrate all non-postgres stateful data [#11759](https://github.com/sourcegraph/sourcegraph/issues/11759) __1d__ 
- [x] Terraform migration: Update docs [#1115](https://github.com/sourcegraph/about/issues/1115) 
- [ ] RFC 174: Terraform Cloud SQL [#11794](https://github.com/sourcegraph/sourcegraph/issues/11794) __1d__ 
- [ ] Sourcegraph.com - add redis-store & precise-code-intel-bundle-manager snapshotting [#10450](https://github.com/sourcegraph/sourcegraph/issues/10450) 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: keegancsmith -->
@keegancsmith: __10.00d__

- [x] Index multiple (non-master) branches [#6728](https://github.com/sourcegraph/sourcegraph/issues/6728) __10d__ [👩](https://app.hubspot.com/contacts/2762526/company/554338610)
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: ryanslade -->
@ryanslade: __4.00d__

- [ ] Scale repo-updater WIP [#11493](https://github.com/sourcegraph/sourcegraph/issues/11493) 🛠️
- [x] RFC 132: Use rate limit data when scheduling changeset syncs [#9105](https://github.com/sourcegraph/sourcegraph/issues/9105) __2d__ 
- [x] `src actions exec` can cause frontend to be OOMKilled [#10540](https://github.com/sourcegraph/sourcegraph/issues/10540) __2d__ 🐛
- [x] Diff query for unknown revision is slow [#11654](https://github.com/sourcegraph/sourcegraph/issues/11654) 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: tsenart -->
@tsenart

- [ ] ~Add 'activity histogram' to admin usage stats + rearrange~ [#11063](https://github.com/sourcegraph/sourcegraph/issues/11063) __2d__ 
- [x] engineering: Welcome to the Cloud team, @asdine! [#1106](https://github.com/sourcegraph/about/pull/1106) :shipit:
- [x] team: Welcome to the Cloud, Dax [#1057](https://github.com/sourcegraph/about/pull/1057) :shipit:
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: unknwon -->
@unknwon: __13.50d__

- [ ] Simplify `PermsStore` logic with intarray extension [#11768](https://github.com/sourcegraph/sourcegraph/issues/11768) __2d__ 
- [ ] Use Postgres intarray to store permissions `object_ids` [#11400](https://github.com/sourcegraph/sourcegraph/issues/11400) __3d__ 🧶
- [x] gqltest: add dev docs [#11578](https://github.com/sourcegraph/sourcegraph/issues/11578) __0.5d__ 
- [x] RFC 142: Migrate backend e2e test with integration tests [#10068](https://github.com/sourcegraph/sourcegraph/issues/10068) __5d__ 🛠️
- [x] Dotcom site-admin overview page breaks with anonymous user ID [#11801](https://github.com/sourcegraph/sourcegraph/issues/11801) __0.5d__ 🐛
- [x] Codecov: use go-acc for better code coverage on `master` [#11781](https://github.com/sourcegraph/sourcegraph/issues/11781) __1d__ 
- [x] authz: `ReposIDsWithOldestPerms` breaks when repos are hard-deleted from repo table [#11769](https://github.com/sourcegraph/sourcegraph/issues/11769) __0.5d__ 🐛
- [x] Add integration tests that saves rows to `user_external_accounts` then grant permissions [#11614](https://github.com/sourcegraph/sourcegraph/issues/11614) __1d__ 🧶
- [ ] ~Enforcing product tiers~ [#11577](https://github.com/sourcegraph/sourcegraph/issues/11577) __5d__ 🕵️
- [ ] ~e2e: remove tests covered by `dev/gqltest`~ [#11762](https://github.com/sourcegraph/sourcegraph/issues/11762) __1d__ 
- [ ] ~gqltest: re-enable in CI on every branch~ [#11579](https://github.com/sourcegraph/sourcegraph/issues/11579) __2d__ 
- [ ] ~Spike: Pure SQL authz flow~ [#11767](https://github.com/sourcegraph/sourcegraph/issues/11767) __3d__ 🕵️
<!-- END ASSIGNEE -->
<!-- END WORK -->

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🛠️ [Roadmap](https://docs.google.com/document/d/1cBsE9801DcBF9chZyMnxRdolqM_1c2pPyGQz15QAvYI/edit#heading=h.5nwl5fv52ess)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- :shipit: Pull Request


@keegancsmith: When you're back from your holiday, please create issues for the non indexed streaming search work you'll be doing and add them to the milestone, as well as anything else we then deem a priority for you to work on.

@unknwon: Please take a look at RFC 151 roadmap and think about what you'd want to work on. We can discuss with @christinaforney today on Cloud sync.

My items are stable and left some availability for non-Git support.

### Last week

- Planning week.
- Investigated and fixed a release-blocker related to background permissions syncing.
- Continued work on migrating backend e2e tests.

### W24 plan [2020-06-22]

- Finish using Postgres intarray to store permissions `object_ids`.
- Add integration tests that saves rows to `user_external_accounts` then grant permissions.
- Spike: Enforcing product tiers.
- Continue migrating e2e tests along side.

> @keegancsmith: When you're back from your holiday, please create issues for the non indexed streaming search work you'll be doing and add them to the milestone, as well as anything else we then deem a priority for you to work on.

I'll do that once I wrap up my indexed search work.

### Last week

* Cleanup up rate limiter code
* Investigated a `src-cli` query that causes out frontend to file with an OOM error

### This week

* I'll spend one more day on the OOM issue. We have a fix, but it's not clear why it's helping https://github.com/sourcegraph/src-cli/pull/226
* The last remaining rate limit issue
* Improve cloning status performance

I want to get the above issues out of the way before I start the larger `repo-updater` scaling work, which will begin with an RFC.


Can you please add a section at the top to describe "why" we are working on these things and how these things tie back to OKRs.

Here is an example for code intel: https://github.com/sourcegraph/sourcegraph/issues/11412

@nicksnyder: I wrote a "Context" section. Please take a look and provide feedback. Also, @christinaforney.

Could you please update this issue with a list of the work that needs to be done to make CapitalOne trial successful?

You could use the issue tracking tool if you want to auto-generate this list based on labels.

FYI I've ended up taking a bit of a detour while investigating https://github.com/sourcegraph/src-cli/pull/226

It's exposed a pretty serious flaw in the way `graphql-go` works which would explain a lot of the memory spikes and OOM issues we've been seeing. I think it's worth finding a solution to this as I think it could have a large impact.



> It's exposed a pretty serious flaw in the way graphql-go works which would explain a lot of the memory spikes and OOM issues we've been seeing.

@ryanslade: Can you write some analysis / summary of this somewhere? Also, please describe how it impacts your 3.18 plan.

@daxmc99: You've been working on bringing our dotcom K8S cluster to Terraform. Can you please make sure that the corresponding GitHub issue is in this tracking issue? What is your estimate for completing that work and starting on RFC 174: HA Postgres for Sourcegraph Cloud #11496?

@tsenart The details are in the comments on the PR linked above, the root cause appears to be this: https://github.com/sourcegraph/src-cli/pull/226#issuecomment-648916773

The impact on my plan for this iteration is that instead of the OOM ticket taking the original 2 day estimate it's going to be more like 5 days. @keegancsmith and I are closing in on a fix which we'll probably add to a fork of `graphql-go` and I expect we'll be able to have that ready tomorrow.

After that I'll continue to focus on the smaller tickets before moving onto the scaling `repo-updater` RFC

> @daxmc99: You've been working on bringing our dotcom K8S cluster to Terraform. Can you please make sure that the corresponding GitHub issue is in this tracking issue? What is your estimate for completing that work and starting on RFC 174: HA Postgres for Sourcegraph Cloud #11496?

I have filed tracking issues for the remaining work on the terraform migration. The majority of the work remains in migrating the non-postgres stateful workloads. 
 - Redis looks straightforward. I plan to restore the GCP snapshot into the new cluster and recreate the PVC
 - Gitserver and Zoekt should also allow for this 1:1 mapping as well of snapshot:disk:PVC
 - LSIF requires it to be in-sync with the database, Eric added an env var here https://github.com/sourcegraph/sourcegraph/pull/11749&sa=D&ust=1593228036042000&usg=AFQjCNHY63K-h2Mp3CW3AQZJqnpzTlgzhQ that should stop the janitor process from deleting data during the migration. 

I think most of this work can be accomplished in 2 days. After which I plan to sync with Stephen & Keegan about finding a time to perform the migration.  

Regarding, RFC 174, the initial testing went well. This actually lead me to seeing the problem with our existing VPC infrastructure. The Cloud SQL Proxy would work in our existing environment though. Further progress is blocked on this though by the Terraform migration. 



### Last week

- Investigated RFC 167: Enforce product tiers, posted questions on RFC and waiting for more input from business team. The current blocker is the actual tier spec we want to enforce.
- Researched the pure SQL approach to do authz flow, see https://github.com/sourcegraph/sourcegraph/issues/11400#issuecomment-650838104 for details.

### W25 plan [2020-06-29]

- authz: `ReposIDsWithOldestPerms` breaks when repos are hard-deleted from repo table
- Add integration tests that saves rows to user_external_accounts then grant permissions
- Based on the effort of #11457, I want to do two spikes:
	- Pure SQL authz flow 
	- Simplify `PermsStore` logic with intarray extension

@ryanslade, @keegancsmith, @asdine: Gentle reminder to write your weekly update.

### Last week

I worked on a proposal for AND operator performance improvements (speed and memory usage) that shrinks the search scope incrementally. The architecture of the solution is here, but what is missing is to find a proper way to tell the search backends to efficiently limit the query to a given set of files

### This week

- Find a way to make gitserver store data in Postgres
- Store repositories clone status in the `repo` table


> The architecture of the solution is here, but what is missing is to find a proper way to tell the search backends to efficiently limit the query to a given set of files

@asdine: Since you no plans to work on that anymore this week, does this mean you have handed off that task to @rvantonder?

@tsenart I planned to discuss this with the team during my last Search sync call this evening

@asdine: Sounds good!

@asdine: For `Store repositories clone status in the repo table`, can you first agree on the approach with @keegancsmith? Please capture what you plan to do in the respective issue: https://github.com/sourcegraph/sourcegraph/issues/11029

### Last week

I ended up spending a lot of time looking into why we were getting OOM's on the frontend when certain queries were made. It boiled down to our GraphQL layer launching a separate go routine for every element of list items returns as well as every field. For example, if we return a result with 10,000 results each with 10 fields, we would launch 100,000 goroutines to compute the result. Each go routine is cheap (~2KB), but it adds up quickly for large result sets and often led to large spike in memory usage.

With @keegancsmith's help we forked and made a small patch to `graphql-go` which limits the number of routines launched when dealing with lists. Doing it for fields is harder because of the nested structure of results and would lead to deadlocks. It's a small fix and there's likely a lot more we could do but testing shows that it significantly reduces memory pressure.

I also spent a lot of Wednesday looking into an issue for https://app.hubspot.com/contacts/2762526/company/464956351

### This week

* Add option to opt out of `resolve revision` call for comparison search https://github.com/sourcegraph/sourcegraph/issues/11654
* Deprecate `-endpoint` flag more gracefully in `src-cli`. A previous change removed it but it is still required for some LSIF actions. https://github.com/sourcegraph/src-cli/issues/222
* Final rate limiting issue (https://github.com/sourcegraph/sourcegraph/issues/9105)

I'll start on the RFC once the above issues are complete.




## Cloud Team Update W25 (WIP)

@keegancsmith, @daxmc99: Waiting for your updates so I can write the content here.

### Is there anything that got shipped?

### Were there changes to the iteration plan?

### Is there work that isn't currently on track?

### Is there anything slowing the team down?

### Anything else to highlight?

**Last week**: Important changes to repo-updater's git fetch scheduler for large installations (#11628 and #11692). Quite a lot of refactoring to graphqlbackend's zoekt layer to support searching multiple branches. This has been tricky work, but it is tackling some of the hardest to change code in our codebase. Additionally did some minor src-expose work to debug an issue at a large installation. Improved perf in repo lookup for dotcom today #11780. Was a successful recharge the previous week, ended up shipping 22 PRs :)

**This week**: Three parts left to multi-branch indexed search. Graphqlbackend search path (currently working on), enabling multi branch indexing (pick up this work, mostly done) and testing it ended to end. I expect given other work that invariably pops up this will take the rest of the week.

**Last week:** Planning the terraform migration took a up a large portion of the week. I was able to test RFC 174 and that is what lead me to advocate for moving from the legacy network to VPC native for better interoperability between GCP services and the cluster. While discussing the migration [here](https://docs.google.com/document/d/1ATRCW9xUW6aEldpnm2QPCuJqRgdGxEgKU13c3KQv2mQ/edit?usp=sharing) I learned that we need to also migrate the stateful data outside of the databases (gitserver, redis, zoekt, precise-code-intel).

**This week:** Finish up a script to migrate disks (https://github.com/sourcegraph/sourcegraph/issues/11759) which will allow for the migration of all non-database workloads. Plan a time with more experienced members to perform the migration. Continue testing RFC 174 and write exact operational details to perform a rollout (https://github.com/sourcegraph/about/issues/1099). Add terraform description of Cloud SQL to our infrastructure (https://github.com/sourcegraph/sourcegraph/issues/11794)

### Last Week

* Worked on fixes for https://github.com/sourcegraph/sourcegraph/issues/11654
* Switched to having one changeset syncer per code host instead of external service
* Started work on RFC 191, Scaling repo-updater. So far I've started documenting the current responsibilities of repo-updater as it stands today

### This week

My focus will be on RFC 191. After documenting it's current responsibilities I'll run them by @keegancsmith and @tomas to make sure I didn't miss anything, I expect to have that ready at some point on Monday.

*Last week*: Joined, and onboarded with Sourcegraph (#11785)!.  I found an issue with developer builds and permissions (#11908) and contributed a PR to fix.  I also helped out on a customer issue and provided some security-specific context around load balancer configurations. 

*This week*: My focus will be on RFC 137.  I'm also intending to read code, and start a new RFC with regards to security controls.

**Last week**: 

- Tested out my migration plan on the dogfood cluster to ensure it would work for the dot-com migration.

**This week:** 

- Planning to do the actual migration during work hours. Anticipating little downtime.

- Adding the Terraform description of Cloud SQL (https://github.com/sourcegraph/sourcegraph/issues/11794). Writing up the rollout documentation and doing some test rollouts on the dogfood cluster. 

### Last week

- I worked on fixing the slow response time or the repository status page #11029. The fix mainly revolves around caching the repository clone status in the database and changing the code to read from that cache instead of harassing gitserver.

 ### This week

I will finish my work on #11029 and prepare the work on #11169 with the team

### Last week

- Enabled accurate code coverage for our Go tests on `sourcegraph/sourcegraph`'s default branch.
- Added integration test for GitHub permissions.
- Made big progress together with @tsenart on simplifying `PermsStore` logic with intarray extension.

### W26 plan [2020-07-06]

- Finish simplifying `PermsStore` logic with intarray extension.
- Finish migrating backend e2e tests from [audit grid](https://docs.google.com/spreadsheets/d/1lzKnWbI-zTlaqnHqzW5Ju1JF0dsov7s9RE6DyFeQmRk/edit#gid=0).
- Spike: Pure SQL authz flow. 

*Last week*: Expected to be fully wrapped up indexed multi branch search. Only did the first part, which is searching indexed branches. Made quite a few improvements (design, duplication, perf, testing) to the zoekt part of the graphqlbackend code as I was trying to make the change. Also fixed a bug where sourcegraph.com was going failing when github was down.

*This week*: Finish multi branch indexed search.

**Last week**: Lots of hiring work, offer calls, inbound reviews and debriefs. Paired with @unknwon on pure SQL authz spike. Helped @asdine break down the work on #11029. Met with @chayim, gave him a first intro into our architecture and access to our infrastructure. [Documented](https://github.com/sourcegraph/about/pull/1150) our future organizational structure plans. [Fixed](https://github.com/sourcegraph/sourcegraph/pull/11895) a tracking-issue tool bug that was preventing all automatic updates.

**This week**: More hiring, particularly, outbound search as well as a larger discussion with @nicksnyder and other managers on Tuesday about current pain points with our hiring process and ideas for addressing those. I also want to spend some deep work hours thinking about on-boarding and how we can maximize the learning rate of new team mates — I suspect this will be a mix of new documentation, buddy process improvements and tech debt / infrastructure prioritization. 

### Last week

Spent most of the week working on [RFC 191](https://docs.google.com/document/d/1Zvv9XqD6qH-Kmte5n0IPuPosUx4fblzsQFGi3kGmu8Y/edit?ts=5f072668#) which is now in review

### This week 

I'll continue to address feedback from RFC 191 until it's accepted at which point I'll start breaking it down into issues so that development can begin



**Last Week**

Spent most of the week reading code to support [RFC 194](https://docs.google.com/document/d/1zZLJEvm0-0Zz1pJiYnfTPIkp3uIOV8j18tPVWKnAuZc/), which yielded a deep dive into improving how we handle tokens in [RFC 196](https://docs.google.com/document/d/1e10UPwmI16VAQleBK81EQMMGTRBgihI1vwL5I6kicrA/).  I also spent time thinking about enterprise security, which lead to having roadmap discussions with @nicksnyder and @tsenart.  I investigated a [security change](https://github.com/sourcegraph/security-issues/issues/74) and determined that (another security issue)[https://github.com/sourcegraph/security-issues/issues/78] was a false positive and closed it off.

**This Week**

I'm going to start coding our token improvements, and continue working through the roadmap and RFCs until they're accepted.  I also hope to test a change for [this item](https://github.com/sourcegraph/security-issues/issues/74).

**Last Week**

Attempted the first `sourcegraph.com` migration. We ended up not cutting over yet since all of the configuration options were not yet in terraform but we are ready to cut over Monday.  All dot-com infrastructure is now tracked in code here https://github.com/sourcegraph/infrastructure/pull/2013. 
Continued work on RFC 174 and snapshotted our DB to a Cloud SQL instance. 

**This Week**
Finish migration on Monday morning. 
Add terraform configuration for Cloud SQL. https://github.com/sourcegraph/sourcegraph/issues/11794. 
Rollout Cloud SQL to Sourcegraph.com
Perform the 3.18 release of Sourcegraph 
 


### Last week

- Had migrated most of backend e2e tests from [audit grid](https://docs.google.com/spreadsheets/d/1lzKnWbI-zTlaqnHqzW5Ju1JF0dsov7s9RE6DyFeQmRk/edit#gid=0).
- Communicated more details with relevant stakeholders on **Enforcing product tiers #11577**, and ready to unblock the engineering work.
- Spent more time on simplifying `PermsStore` logic with intarray extension, but not able to finish it.

### W26 plan [2020-07-13]

- Ability to disable SMTP TLS verification.
- Finish migrating backend e2e tests from [audit grid](https://docs.google.com/spreadsheets/d/1lzKnWbI-zTlaqnHqzW5Ju1JF0dsov7s9RE6DyFeQmRk/edit#gid=0).
- Continue simplifying `PermsStore` logic with intarray extension.
- Start working on enforcing product tiers.

### Last week

- Finished fixing slow response times on the site-admin repository list page
- I removed the clone in progress tab from this page and deprecated the `cloneInProgress` option from the Repositories API
- I removed the `clone-in-progress` option from src-cli

### This week

I'm gonna handle excluding repositories based on a regexp #11987 and integrate a new mail library #10703



> and integrate a new mail library #10703

@unknwon is this something you planned to do or is it separate from "Ability to disable SMTP TLS verification."?

> > and integrate a new mail library #10703
> 
> @unknwon is this something you planned to do or is it separate from "Ability to disable SMTP TLS verification."?

@tsenart: It depends, but by working on #10703 could solve #10702 automatically in some sense, but I DM'ed @asdine to ask if he wants to take #10702 back to his plate.

Dear all,

This is your release captain speaking. 🚂🚂🚂

Branch cut for the **3.18 release is scheduled for tomorrow**.

Is this issue / PR going to make it in time? Please change the milestone accordingly.
When in doubt, reach out!

Thank you


We don't have 3.19 tracking issue yet so continue posting here this time.

### Last week

- Finished migrating backend e2e tests from [audit grid](https://docs.google.com/spreadsheets/d/1lzKnWbI-zTlaqnHqzW5Ju1JF0dsov7s9RE6DyFeQmRk/edit#gid=0), and started working with web team on reducing existing e2e test suite. Besides, the audit grid has been expanded to be used by web and code-intel team to track progress of client and code-intel integration tests.
- Added docs for `dev/gqltest` test suite.
- Started working on **Enforcing product tiers #11577**.

### W28 plan [2020-07-20]

- Finish 3.19 planning.
- Sourcegraph OSS user settings not accessible #12191
- gqltest: migrate internal/cmd/search-integration-tester #12143
- Continue working on **Enforcing product tiers #11577**.

**Last Week**

- Successfully migrated [Sourcegraph.com](https://github.com/sourcegraph/deploy-sourcegraph-dogfood-k8s/pull/1567) and captured the changes in [Terraform](https://github.com/sourcegraph/infrastructure/pull/2013). I then proceeded to scale down the `dot-com` cluster to check for any failures. 
- Updated docs https://github.com/sourcegraph/about/issues/1115
- Rolled out the 3.18 release 🚂 https://github.com/sourcegraph/sourcegraph/pull/12305

**W28 plan [2020-07-20]**
- Finish cloud SQL migration (TF PR here: https://github.com/sourcegraph/infrastructure/pull/2035). All the testing has been finished and the remaing steps are to perform the rollout. 
- Delete `dot-com` cluster
- Enable snapshotting of the `cloud` cluster https://github.com/sourcegraph/deploy-sourcegraph-dot-com/pull/2992


### Last Week

* Finished work on RFC 191 which is now ready to be implemented
* Added a leader election helper package

### This week

* Planning for 3.19
* Looking into a slow memory leak on frontend: https://github.com/sourcegraph/sourcegraph/issues/11790
* Adding tests for our raw endpoint: https://github.com/sourcegraph/sourcegraph/issues/11259



Created a first draft of the  3.19 tracking issue: https://github.com/sourcegraph/sourcegraph/issues/12327

Please move over any work you plan to do this iteration and let's have a conversation if that would prevent you from making progress on the core goals for 3.19.