Code intelligence: 3.15 tracking issue

TODO(@creachadair): Convert these into issues.
- [ ] Implement metrics necessary to track OKRs

<!-- BEGIN WORK -->
@creachadair

- [ ] RFC 139: Remove language servers [#9742](https://github.com/sourcegraph/sourcegraph/issues/9742) 
- [x] Cross-references from LSIF may not work on golang/go [#9595](https://github.com/sourcegraph/sourcegraph/issues/9595) 
- [ ] Improve performance of LSIF upload processing [#9593](https://github.com/sourcegraph/sourcegraph/issues/9593) 
- [x] Adjust line offsets when the current line was not changed since the last LSIF index [#9345](https://github.com/sourcegraph/sourcegraph/issues/9345) 
- [ ] RFC 122: Integrate LSIF indexing into supportive Go and TypeScript repositories [#9288](https://github.com/sourcegraph/sourcegraph/issues/9288) 
- [x] RFC 122: Implement manual indexing for public Go and TypeScript repositories [#9285](https://github.com/sourcegraph/sourcegraph/issues/9285) 
- [ ] Code intelligence: 3.15 tracking issue [#9051](https://github.com/sourcegraph/sourcegraph/issues/9051) 

@efritz

- [ ] LSIF upload: 413 Request Entity Too Large [#9739](https://github.com/sourcegraph/sourcegraph/issues/9739) 
- [x] Button up automatic LSIF indexing [#9738](https://github.com/sourcegraph/sourcegraph/issues/9738) 
- [x] Button up code intel showcase upstreamer list [#9737](https://github.com/sourcegraph/sourcegraph/issues/9737) 
- [ ] Document LSIF data expectations [#9719](https://github.com/sourcegraph/sourcegraph/issues/9719) 
- [x] Search in same repo fork in basic code intel [#9634](https://github.com/sourcegraph/sourcegraph/issues/9634) 
- [ ] Create docs page for codeintel showcase repos [#9609](https://github.com/sourcegraph/sourcegraph/issues/9609) 
- [x] Create buildkite job to keep all sourcegraph-codeintel-showcase mirrors up to date [#9608](https://github.com/sourcegraph/sourcegraph/issues/9608) 
- [x] RFC 127: Implement a sharded database storage service [#9290](https://github.com/sourcegraph/sourcegraph/issues/9290) 
- [x] RFC 122: Automate indexing for public Go and TypeScript repositories [#9286](https://github.com/sourcegraph/sourcegraph/issues/9286) 

@gbrik

- [ ] Minor: Retry lsif index upload when clone is in progress [#9700](https://github.com/sourcegraph/sourcegraph/issues/9700) 
- [ ] RFC 122: Write detailed LSIF integration instructions for Go and TypeScript [#9289](https://github.com/sourcegraph/sourcegraph/issues/9289) 
<!-- END WORK -->

**Week 1 Plan 2020-03-23**

- Finish implementing [RFC 127](https://docs.google.com/document/d/1lno7N_gDg2RmvI4cLZ7l_TdnxP1e-P1Ri7Iwr2RCjKQ)
  -  https://github.com/sourcegraph/sourcegraph/pull/9179
  - https://github.com/sourcegraph/sourcegraph/pull/9180
  - https://github.com/sourcegraph/sourcegraph/pull/9199
  - https://github.com/sourcegraph/sourcegraph/pull/9206
- Help Garo onboard
- Review [RFC 122](https://docs.google.com/document/d/1W8uR0vQBYtdkNynMxEq24CFdzPTWkGijCURsosdvzAM) and split work

**Week 1 Plan 2020-03-23**

- Help Garo onboard.
- Finish writing RFC for Code Intelligence public indexing.
- Write RFC for Code Intelligence team structure.
- Pair with Eric on diff-patching.
- Continue work on [RFC 122](https://docs.google.com/document/d/1W8uR0vQBYtdkNynMxEq24CFdzPTWkGijCURsosdvzAM/edit)

**Week 1 Accomplished 2020-03-23**
- [x] onboarding
- [x] wrestling with circleci

**Week 2 Plan 2020-03-30**
- [ ] onboarding
- [ ] create working CI implementations for projects in RFC-122
- [ ] help my pardner move

**Week 1 Accomplished 2020-03-23**

- Diff pushing (https://github.com/sourcegraph/sourcegraph/pull/7925)
- Split and renamed lsif-server (https://github.com/sourcegraph/sourcegraph/pull/9374, https://github.com/sourcegraph/sourcegraph/pull/9366, https://github.com/sourcegraph/sourcegraph/pull/9259, https://github.com/sourcegraph/sourcegraph/pull/9258, https://github.com/sourcegraph/sourcegraph/pull/9257, https://github.com/sourcegraph/sourcegraph/pull/9247, https://github.com/sourcegraph/sourcegraph/pull/9179, https://github.com/sourcegraph/sourcegraph/pull/9175, https://github.com/sourcegraph/sourcegraph/pull/9081, https://github.com/sourcegraph/sourcegraph/pull/9376)

**Week 2 Plan 2020-03-30**

- [ ] Update deployments to reflect lsif-server change
- [ ] Help Michael rewrite part of the worker in Go
- [ ] Automate more CI index jobs in RFC 122

**Week 1 Accomplished 2020-03-23**

- Paired with @efritz on diff-patching.
- RFC 122: Automated indexing for k8s, etcd, golang/go.
    - Fixes to support golang/go: https://github.com/sourcegraph/lsif-go/pull/51, https://github.com/sourcegraph/lsif-go-action/pull/5
- Updates to RFC 134, Future Directions doc.

**Week 2 Plan 2020-03-30**

- Automate more repositories for RFC 122.
- Finish Future Directions WIP that I started last week.
- Finish RFC 134 and get it reviewed.
- Investigate performance issues with upload conversion.
    - Rework perf-critical conversion logic in Go.


**Week 2 Accomplished 2020-03-30**

- [RFC 134](https://docs.google.com/document/d/1OIZU1KuCpBQI66SnVVYLL3KD41K6jdLuEY53McJIrqs/edit) is (almost) approved.
- Responded to all open comments on [Future directions](https://docs.google.com/document/d/1J0wtYEF2gkfxPfNhMjQKulfKI7eb1Jc_NRuGDpMGpDs/edit), but did not finish an RFC draft.
- Investigated performance issues with upload conversion (ongoing).
- RFC 122: CI working for k8s, etcd, golang/go.

**Week 3 Plan 2020-04-06**

- [Improve performance of LSIF upload processing](https://github.com/sourcegraph/sourcegraph/issues/9593) (ongoing)
- [Cross-references from LSIF may not work on golang/go](https://github.com/sourcegraph/sourcegraph/issues/9595)
- RFC 122: Ensure LSIF documentation is up-to-date.
- RFC 122: Add more repositories that cross-reference with the base set to check cross-repo xrefs.
- Finish Future Directions RFC draft.

**Week 2 Accomplished 2020-03-30**

- Was on call (lots of issues here)
- Split precise code intel services in k8s and docker deployments

**Week 3 Plan 2020-04-06**

- RFC 122: Finish indexing and uploading for CircleCI, and TypeScript/angular repositories
- Rewrite the bundle manager in Go

**Week 2 Accomplished 2020-03-30**
- [x] onboarding
- [ ] create working CI implementations for projects in RFC-122
    - [x] create working CI  implementations for go projects
    - [ ] create working CI implementations for ts/js projects
- [x] help my pardner move

**Week 2 Plan 2020-03-30**
- [ ] create working CI implementations for ts/js projects in RFC-122
- [ ] update our lsif-node fork to depend on our new typescript fork
- [ ] insert tasks decided on during sync today

**Week 3 Accomplished 2020-03-10**

- Improved basic code intel behavior on forks (https://github.com/sourcegraph/code-intel-extensions/pull/363)
- Updated symbols build
- Experimenting porting TS to Go

**Week 4 Plan 2020-04-13**

- Mostly working on LSIF and showcase docs (see open issues)


**Week 2 Plan 2020-04-06**
- [x] create working CI implementations for ts/js projects in RFC-122
- [ ] update our lsif-node fork to depend on our new typescript fork [backlogged]
- [x] handbook PR updates re hubspot account
- [x] file/label lsif-reliability issues
- [x] start working on clangd fork based lsif-cpp

**Week 3 Plan 2020-04-13**
- [ ] add a src-cli container that keeps up with releases [(issue)](https://github.com/sourcegraph/src-cli/issues/174)
- [ ] consolidate and document various lsif indexing CI repos [(issue)](https://github.com/sourcegraph/sourcegraph/issues/9289)
- [ ] testable prototype of lsif-cpp [(issue)](https://github.com/sourcegraph/lsif-cpp/issues/9)
- [ ] retry LSIF upload when repo clone is in progress [(issue)](https://github.com/sourcegraph/sourcegraph/issues/9700)
- [ ] index a super cool go repo and its transitive dependencies [(issue)](https://github.com/sourcegraph/sourcegraph/issues/9746)

**Week 3 Accomplished 2020-04-06**

- Ongoing: [Improve performance of LSIF upload processing](https://github.com/sourcegraph/sourcegraph/issues/9593)
- Finished up approval of [RFC 139: Remove Language Servers](https://docs.google.com/document/d/1dl5u03dD63-RZB7S1p2IqFTiVcdx6On0aeIOXgsTehA/edit) approved.
- [Draft blog post](https://docs.google.com/document/d/1Jp-q7AwqcJhpmXQmoVj6TKIvV01p86LixxucCvzYVZE/edit) to accompany disabling LS on sourcegraph.com
- Started: [RFC 140: Automating LSIF Adoption](https://docs.google.com/document/d/18ZP8tWkgBtsJ1-zUzAXngsct5lnpwu7LRkMeWX8ubJg/edit)

**Week 4 Plan 2020-04-13**

- RFC 122: Ensure LSIF documentation is up-to-date.
- RFC 122: Add more repositories that cross-reference with the base set to check cross-repo xrefs.
- Resume separating Future Directions doc into coherent parts:
   * Finish the half-done RFC WIP for public indexing.
   * Extract the Appendix into a blog post (at Beyang's suggestion).
   * Extract the team structure section into a new RFC.
- Ongoing: [Improve performance of LSIF upload processing](https://github.com/sourcegraph/sourcegraph/issues/9593)

Dear all,

This is your release captain speaking. 🚂🚂🚂

Branch cut for the **3.15 release is scheduled for tomorrow**.

Is this issue / PR going to make it in time? Please change the milestone accordingly.
When in doubt, reach out!

Thank you


Falling through to https://github.com/sourcegraph/sourcegraph/issues/9917.