Code Intelligence Sprint 4 Tracking issue

### Plan

This sprint covers 2020-01-18 through 2020-01-29.

### Availability

If you have planned unavailability this iteration (e.g., vacation), you can note that here.

Eric: 10d
Noah: 9d (29th off)
Garo: 5d (28th off)
Owen: TODO
Olaf: TODO
Maria: 10d

### Tracked issues

<!-- BEGIN WORK -->
<!-- BEGIN ASSIGNEE:  -->
@unassigned

- [ ] ~Link auto-index jobs to the uploads they create~ ([#17342](https://github.com/sourcegraph/sourcegraph/issues/17342))
- [ ] RFC 158: Code Intel UI Tracking Issue ([#10891](https://github.com/sourcegraph/sourcegraph/issues/10891))
  - [ ] ~Keep 'References' panel open after clicking on one reference~ ([#13722](https://github.com/sourcegraph/sourcegraph/issues/13722))
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: Strum355 -->
@Strum355

- [ ] ~codeintel: add informative comments to auto-configurator output~ ([#17491](https://github.com/sourcegraph/sourcegraph/issues/17491))

Completed
- [x] (🏁 14 days ago) codeintel: Research adding cmake project configuration inference ([~#17375~](https://github.com/sourcegraph/sourcegraph/issues/17375))
- [x] (🏁 10 days ago) code-intel: hotfix typescript autoconf lerna.json detection ([~#17584~](https://github.com/sourcegraph/sourcegraph/pull/17584)) :shipit:
- [x] (🏁 5 days ago) fix codeintel QA tests as dir rename from database->db ([~#17713~](https://github.com/sourcegraph/sourcegraph/pull/17713)) :shipit:
- [x] (🏁 5 days ago) bumps dbaeumer's typescript-lsif dep ([~#113~](https://github.com/sourcegraph/lsif-node/pull/113)) :shipit:
- [x] (🏁 5 days ago) adds dockerfile and travis config for separate autoindex image ([~#114~](https://github.com/sourcegraph/lsif-node/pull/114)) :shipit:
- [x] (🏁 4 days ago) transition to github actions over travis ([~#115~](https://github.com/sourcegraph/lsif-node/pull/115)) :shipit:
- [x] (🏁 4 days ago) adds support for node version inference and changing via n ([~#17724~](https://github.com/sourcegraph/sourcegraph/pull/17724)) :shipit:
- [x] (🏁 3 days ago) codeintel: Auto-configure 5 cmake repositories ([~#17376~](https://github.com/sourcegraph/sourcegraph/issues/17376))
- [x] (🏁 today) lsif-node: high error rate in auto index due to npm/node version mismatch ([~#17536~](https://github.com/sourcegraph/sourcegraph/issues/17536); PRs: ~[#110](https://github.com/sourcegraph/lsif-node/pull/110)~, ~[#17570](https://github.com/sourcegraph/sourcegraph/pull/17570)~, ~[#17620](https://github.com/sourcegraph/sourcegraph/pull/17620)~, ~[#111](https://github.com/sourcegraph/lsif-node/pull/111)~)
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: efritz -->
@efritz

- [ ] ~codeintel: Write blog post about the commit graph optimization~ ([#17379](https://github.com/sourcegraph/sourcegraph/issues/17379))

Completed
- [x] (🏁 14 days ago) codeintel: Research adding cmake project configuration inference ([~#17375~](https://github.com/sourcegraph/sourcegraph/issues/17375))
- [x] (🏁 13 days ago) chore: Reduce logspam from nginx ([~#17428~](https://github.com/sourcegraph/sourcegraph/pull/17428)) :shipit:
- [x] (🏁 13 days ago) executor: Ping the frontend before starting up ([~#17435~](https://github.com/sourcegraph/sourcegraph/pull/17435)) :shipit:
- [x] (🏁 13 days ago) chore: Squash migrations ([~#17390~](https://github.com/sourcegraph/sourcegraph/pull/17390)) :shipit:
- [x] (🏁 13 days ago) executor: Remove temporary observability code ([~#17437~](https://github.com/sourcegraph/sourcegraph/pull/17437)) :shipit:
- [x] (🏁 13 days ago) codeintel: Do not enable tracing for background tasks ([~#17439~](https://github.com/sourcegraph/sourcegraph/pull/17439)) :shipit:
- [x] (🏁 12 days ago) codeintel: Do not export internal methods in lsifstore ([~#17443~](https://github.com/sourcegraph/sourcegraph/pull/17443)) :shipit:
- [x] (🏁 11 days ago) debt: Reuse lsif-protocol ([~#15946~](https://github.com/sourcegraph/sourcegraph/issues/15946); PRs: ~[#17523](https://github.com/sourcegraph/sourcegraph/pull/17523)~) 🧶
- [x] (🏁 10 days ago) codeintel: Change rank behavior for uploads and indexes ([~#17537~](https://github.com/sourcegraph/sourcegraph/pull/17537)) :shipit:
- [x] (🏁 5 days ago) codeintel: Start RFC 293: Code intel auto-indexing delivery ([~#17377~](https://github.com/sourcegraph/sourcegraph/issues/17377))
- [x] (🏁 4 days ago) codeintel: Write RFC 294: Replacing ctags for symbol search ([~#17378~](https://github.com/sourcegraph/sourcegraph/issues/17378))
- [x] (🏁 3 days ago) codeintel: Expose commit graph metadata in GraphQL ([~#17818~](https://github.com/sourcegraph/sourcegraph/pull/17818)) :shipit:
- [x] (🏁 3 days ago) codeintel: De-flake integration tests ([~#17820~](https://github.com/sourcegraph/sourcegraph/pull/17820)) :shipit:
- [x] (🏁 3 days ago) codeintel: Add commit graph state to repo-specific uploads page ([~#17819~](https://github.com/sourcegraph/sourcegraph/pull/17819)) :shipit:
- [x] (🏁 3 days ago) codeintel: Collapse layer of abstraction in lsifstore ([~#17538~](https://github.com/sourcegraph/sourcegraph/pull/17538)) :shipit:
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: gbrik -->
@gbrik


Completed
- [x] (🏁 14 days ago) codeintel: Research adding cmake project configuration inference ([~#17375~](https://github.com/sourcegraph/sourcegraph/issues/17375))
- [x] (🏁 14 days ago) add an optional upload argument for an associated index ID ([~#10~](https://github.com/sourcegraph/codeintelutils/pull/10)) :shipit:
- [x] (🏁 13 days ago) codeintel: add an --associated-index-id flag for autoindexer usage ([~#430~](https://github.com/sourcegraph/src-cli/pull/430)) :shipit:
- [x] (🏁 13 days ago) bump src-cli minimum version ([~#17391~](https://github.com/sourcegraph/sourcegraph/pull/17391)) :shipit:
- [x] (🏁 11 days ago) code intel: link completed index jobs to their successful lsif_uploads ([~#17386~](https://github.com/sourcegraph/sourcegraph/issues/17386); PRs: ~[#17388](https://github.com/sourcegraph/sourcegraph/pull/17388)~)
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: macraig -->
@macraig

- [ ] ~For milestone 5 list the build tools/project info for each customer we intend to deliver lsif-clang to.~ ([#17368](https://github.com/sourcegraph/sourcegraph/issues/17368))
- [ ] ~🚚 LSIF-Go Delivery~ ([#13015](https://github.com/sourcegraph/sourcegraph/issues/13015))
- [ ] ~codeintel: Confirm Bazel customers can use bazel compilation database.~ ([#17380](https://github.com/sourcegraph/sourcegraph/issues/17380))
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: olafurpg -->
@olafurpg: __1.00d__


Completed: __1.00d__
- [x] (🏁 12 days ago) codeintel: Accept multiple directories in lsif-semanticdb ([~#17382~](https://github.com/sourcegraph/sourcegraph/issues/17382))
- [x] (🏁 12 days ago) codeintel: Write plugin for sbt that runs lsif-semanticdb ([~#17381~](https://github.com/sourcegraph/sourcegraph/issues/17381))
- [x] (🏁 7 days ago) LSIF quickstart is not quick ([~#14422~](https://github.com/sourcegraph/sourcegraph/issues/14422)) __1.00d__
<!-- END ASSIGNEE -->
<!-- END WORK -->

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🎩 Quality of life
- 🛠️ [Roadmap](https://docs.google.com/document/d/1cBsE9801DcBF9chZyMnxRdolqM_1c2pPyGQz15QAvYI/edit#heading=h.5nwl5fv52ess)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- :shipit: Pull Request


18th-22nd
- Researched feasibility of cmake auto conf. Determined not possible 
- Following from above, discussed with @gbrik on generating best-effort templates to be completed, along with UX changes to make the process more transparent and explained
- Researched current issues in autoindexer with certain lsif-node indexing jobs and submitted 1 PR of more to come to address the issues discovered
- Added docs in lsif-clang on how to provide core dumps in the case of a segfault

25th-29th
TBD

**Last week:**

- Backlog grooming
- Revisited goals and Productboard (make research items clearer)
- Customer reach out for lsif-go 
- Started customer language interest research
- Small doc clarifications on upgrading and MinIO
- Customer follow-ups

**This week:**
- RFC reviewing
- Continue language interest research and customer info aggregation
- Finish processing usertesting feedback
- Draft PD on indexing configuration templates

**Last week:**

- Began writing [RFC 293: Code intel auto-indexing delivery
](https://docs.google.com/document/d/1nAuO6k3lz094ZfnLPJ6oTHhk3yFP5VSKFvNa1t57D-g)
- Began writing [RFC 294: Improving symbols search](https://docs.google.com/document/d/17hhirhcuQYCxT_1-0A-eWUPyqX9VoXOVkcdi9VBGZjA/edit#heading=h.trqab8y0kufp)
- Began writing blog post about the history and recent struggles/solution w.r.t. the code intelligence commit graph.
- Began working on some pre-work to help along https://github.com/sourcegraph/sourcegraph/issues/15945, which I believe will be prioritized in the following sprint.
- Reduced log spam in dev environment while running indexers

**This week:**

- Finished an initial draft of both RFCs, marked as REVIEW
- Continued writing blog post. Will likely continue massaging content over the weekend, but this will likely bleed into next week before I have a full draft. Will submit for review once there's no glaring holes for reactions/input/proof reading.
- Reviewed RFCs from other teams
- Caught a few code quality of life issues (see PR list for details; reused lsif-protocol in sg/sg, de-flaked integration tests).
- Began a [team alignment document](https://docs.google.com/document/d/1_L2lk9ZbFfglDen4aDJS7GruKvpE4tt-Xko8bVRsJdQ) doc to help us smooth out some rough edges in product vision (especially necessary now that we will have some overlapping onboarding windows).

Continuing in https://github.com/sourcegraph/sourcegraph/issues/17853.