devx: RFC-592 staging env planning

### Resources 

- [RFC-592](https://docs.google.com/document/d/13kVYJSoTWYgyeBFXeJnasF3WU7SHyOjhSNpp9yV_pvY/edit#)
- Previous work that the RFC-592 is building on top of: [RFC 586](https://docs.google.com/document/d/1x7Luv4YM5g3iGxtRcc8YUhf6LKky8P0MOFmbSryrzic/edit#) 
- Slack coordination channel: [#wg-staging-env](https://sourcegraph.slack.com/archives/C031PSKLMUG)

### Key Results

> We improve the uptime for Sourcegraph Cloud and are able to analyze and report on our CI/CD pipeline metrics.

### Communications

- Status update is communicated weekly

### Actors

#### Stakeholders

- @sourcegraph/cloud-saas
- Practically every engineer. 

#### Dependencies 

- @sourcegraph/cloud-devops (RFC-586)

### Timeline

1. Get pre-prod automatically deployed and very basic smoke tests
    - deadline: mid-march, SOC2 audit (`GN-100`)
3. Instrument pre-prod with tracing. 
  - 1+2 = 2/3 weeks.
5. Run more tests on pre-prod
6. Get prod automatically deployed and instrumented.  

### Plan 

- [x] Update RFC-492 and address comments
- [x] Sync with @daxmc99 about RFC-586
	- Partly done, need another round.
- [x] Approve the RFC 
- [x] Notify Decider (will communicate about it)
- [x] Surface blockers and to decisions to be made in tickets 
- [x] Update tracking issue: 
  - [x] create tickets for each remaining milestones

### Tracking issue

- #31695 