Core Services: 3.16 Tracking Issue

### Status

This tracking issue is ready.

### Availability

Period is the April 21st until May 18th. Please put in the days you won't be working and the number of working days for the period.

- @keegancsmith: 18d (27 April and 1 May are holidays) minus ~multiple half-days due to childcare
- @mrnugget: 19d (1 May is national holiday) minus ~multiple half-days due to childcare
- @rvantonder: 12d (Not working 22 April through 1 May)
- @ryanslade: 18d (27 April and 1 May are holidays)
- @tsenart: 8d
- @unknwon: 17d (May 1st to May 5th are national holidays)
- @asdine: 19d

### Work

<!-- BEGIN WORK -->
<!-- BEGIN ASSIGNEE: Unassigned -->
@Unassigned

- [ ] ~Add docs for connecting to Azure DevOps as a code host~ [#8647](https://github.com/sourcegraph/sourcegraph/issues/8647) __1d__ 
- [ ] ~src-expose: document usage with docker compose and kubernetes~ [#9884](https://github.com/sourcegraph/sourcegraph/issues/9884) __0.5d__ 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: asdine -->
@asdine: __2.00d__

- [x] https://sourcegraph.com/github.com throws a 500 [#9274](https://github.com/sourcegraph/sourcegraph/issues/9274) 🐛
- [ ] ~Track and/or query usage in pings~ [#9177](https://github.com/sourcegraph/sourcegraph/issues/9177) __5d__ 
- [x] indexed-search: Performance improvements for concatenated regex queries [#8800](https://github.com/sourcegraph/sourcegraph/issues/8800) 👩
- [x] Reject invalid externalURL with non-/ path [#7884](https://github.com/sourcegraph/sourcegraph/issues/7884) __2d__ 🐛
- [x] Large files not being returned for indexed filepath searches [#10382](https://github.com/sourcegraph/sourcegraph/issues/10382) 🐛👩
- [x] Improve performance for concatened queries [#43](https://github.com/sourcegraph/zoekt/pull/43) :shipit:
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: keegancsmith -->
@keegancsmith

- [x] Search OKRs Q2 [#10025](https://github.com/sourcegraph/sourcegraph/issues/10025) 
- [x] proposal: indexed search uses shallow git clones [#9888](https://github.com/sourcegraph/sourcegraph/issues/9888) 
- [ ] ~src-expose: document usage with docker compose and kubernetes~ [#9884](https://github.com/sourcegraph/sourcegraph/issues/9884) __0.5d__ 
- [x] Proposal: remove discussions code [#9649](https://github.com/sourcegraph/sourcegraph/issues/9649) 🧶
- [ ] ~Add ability for src-expose to periodically run a command (without then running git commit)~ [#9643](https://github.com/sourcegraph/sourcegraph/issues/9643) 
- [x] GraphQL API Search result line numbers [#9587](https://github.com/sourcegraph/sourcegraph/issues/9587) 👩
- [ ] ~Add docs for connecting to Azure DevOps as a code host~ [#8647](https://github.com/sourcegraph/sourcegraph/issues/8647) __1d__ 
- [ ] ~Index multiple (non-master) branches~ [#6728](https://github.com/sourcegraph/sourcegraph/issues/6728) __10d__ [👩](https://app.hubspot.com/contacts/2762526/company/554338610)
- [x] dev/watchman: merge file change events while running handle changed [#10119](https://github.com/sourcegraph/sourcegraph/pull/10119) :shipit:
- [x] debugproxies: Nicer display names for statefulset pods [#9950](https://github.com/sourcegraph/sourcegraph/pull/9950) :shipit:
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: mrnugget -->
@mrnugget: __10.50d__

- [x] Improve Campaigns documentation [#9913](https://github.com/sourcegraph/sourcegraph/issues/9913) __3d__ 🧶
- [x] Run Campaigns user tests with Sourcegraph colleagues [#9912](https://github.com/sourcegraph/sourcegraph/issues/9912) __4d__ 🛠️
- [x] Use the same code for burndown chart and derived Changeset State [#9101](https://github.com/sourcegraph/sourcegraph/issues/9101) __1.5d__ 🧶
- [x] Expose combined diffStat on Campaign(Plan) [#7092](https://github.com/sourcegraph/sourcegraph/issues/7092) __2d__ 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: nicksnyder -->
@nicksnyder: __0.50d__

- [x] sourcegraph/security-issues [#63](https://github.com/sourcegraph/security-issues/issues/63) __0.5d__ 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: rvantonder -->
@rvantonder: __2.50d__

- [x] ~Implement repo or-expressions for multi repo/multi rev~ [#10114](https://github.com/sourcegraph/sourcegraph/issues/10114) __4d__ 👩
- [x] ~spike: investigate supporting restricted or-expressions for repos~ [#10113](https://github.com/sourcegraph/sourcegraph/issues/10113) __1d__ 👩🕵️
- [x] ~Write RFC for syntax that supports multiple repos and revisions to support RFC 136~ [#10111](https://github.com/sourcegraph/sourcegraph/issues/10111) __1.5d__ 👩
- [x] Fix validation GitLab exclude repos [#10096](https://github.com/sourcegraph/sourcegraph/issues/10096) 🐛👩
- [x] Add search option where mixed-case patterns imply case-sensitivity [#10057](https://github.com/sourcegraph/sourcegraph/issues/10057) 
- [x] Resolve field aliases in and/or queries [#10054](https://github.com/sourcegraph/sourcegraph/issues/10054) __0.5d__ 🐛
- [x] search UI should be clear when forks or archived repositories were excluded [#9928](https://github.com/sourcegraph/sourcegraph/issues/9928) __2d__ 🐛
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: ryanslade -->
@ryanslade: __8.50d__

- [x] Merged GitHub changeset shown as "closed" until next sync when webhooks are activated [#10071](https://github.com/sourcegraph/sourcegraph/issues/10071) __1d__ 🐛
- [x] Bitbucket Server webhooks miss needs work => unapproved [#9139](https://github.com/sourcegraph/sourcegraph/issues/9139) __2d__ 🐛
- [x] Querying for cloning repositories is very slow [#8725](https://github.com/sourcegraph/sourcegraph/issues/8725) __1d__ 🐛
- [x] Ensure that we can match webhook requests to exactly one external service [#9008](https://github.com/sourcegraph/sourcegraph/issues/9008) __1d__ 🐛
- [x] Include "Campaign credits" in pings [#10073](https://github.com/sourcegraph/sourcegraph/issues/10073) __0.5d__ 
- [x] ~Validate unique rate limit configuration~ [#10026](https://github.com/sourcegraph/sourcegraph/issues/10026) __0.5d__ 
- [ ] ~Use internal rate limiters for all source requests~ [#9953](https://github.com/sourcegraph/sourcegraph/issues/9953) __2d__ 
- [ ] ~RFC 132: Use rate limit data when scheduling changeset syncs~ [#9105](https://github.com/sourcegraph/sourcegraph/issues/9105) __1d__ 
- [x] Add tests for the webhook handler that persists data [#9104](https://github.com/sourcegraph/sourcegraph/issues/9104) __2d__ 🧶
- [x] Automatically remove Bitbucket Server webhooks if the `plugin.webhook` property has been removed [#8914](https://github.com/sourcegraph/sourcegraph/issues/8914) __1d__ 🛠️
- [ ] ~Reduce usage of raw string for external service kind~ [#10296](https://github.com/sourcegraph/sourcegraph/issues/10296) __1d__ 🧶
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: tsenart -->
@tsenart: __4.00d__

- [x] RFC 145: Event-level data from customers export button [#10434](https://github.com/sourcegraph/sourcegraph/issues/10434) __4d__ 
  - [x] RFC 145: Usage stats download button [#10475](https://github.com/sourcegraph/sourcegraph/pull/10475) :shipit:
- [ ] ~Add ThirdPartyLicensesDistributedTools.csv~ [#9975](https://github.com/sourcegraph/sourcegraph/issues/9975) 
- [ ] ~Automate creation of the Go third-party licenses CSV~ [#9973](https://github.com/sourcegraph/sourcegraph/issues/9973) __2d__ 
- [ ] ~Use comma delimiters in ThirdPartyLicensesGo.csv~ [#9972](https://github.com/sourcegraph/sourcegraph/issues/9972) __0.5d__ 
- [x] registry: Instrument API with Prometheus metrics [#10628](https://github.com/sourcegraph/sourcegraph/pull/10628) :shipit:
- [x] tracking-issue: Update GitHub action [#10158](https://github.com/sourcegraph/sourcegraph/pull/10158) :shipit:
- [x] tracking-issue: Implement simplified workflow [#10157](https://github.com/sourcegraph/sourcegraph/pull/10157) :shipit:
- [x] Tracking issues page [#786](https://github.com/sourcegraph/about/pull/786) :shipit:
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: unknwon -->
@unknwon: __9.00d__

- [x] github: support only list private affiliated repositories  [#10184](https://github.com/sourcegraph/sourcegraph/issues/10184) __0.5d__ 
- [ ] ~RFC 142: Migrate backend e2e test with unit tests~ [#10067](https://github.com/sourcegraph/sourcegraph/issues/10067) __4d__ 🛠️
- [ ] Get RFC 142 approved based on info from auditing [#10066](https://github.com/sourcegraph/sourcegraph/issues/10066) __3d__ 
- [x] ~authz: better heuristic of `NextSyncAt` by `PermsSyncer`~ [#9098](https://github.com/sourcegraph/sourcegraph/issues/9098) __1d__ 
- [x] Admin button for refreshing permissions for a user / repo [#8990](https://github.com/sourcegraph/sourcegraph/issues/8990) __1d__ 
- [ ] ~Use golden accounts for VCRs in tests~ [#8976](https://github.com/sourcegraph/sourcegraph/issues/8976) __2d__ 🧶
- [ ] ~Use serializable transactions for updating permissions~ [#7877](https://github.com/sourcegraph/sourcegraph/issues/7877) __2d__ 🕵️
- [x] Display last updated time of permissions in repo and user settings page [#8989](https://github.com/sourcegraph/sourcegraph/issues/8989) __1.5d__ 
- [x] Add backend tests for blob redirects [#10260](https://github.com/sourcegraph/sourcegraph/issues/10260) __0.5d__ 
- [x] sourcegraph/security-issues [#63](https://github.com/sourcegraph/security-issues/issues/63) __0.5d__ 
- [x] Expand CODEWONERS line `*git*` to be more precise [#10047](https://github.com/sourcegraph/sourcegraph/issues/10047) __0.5d__ 
- [x] Audit existing backend e2e tests [#9924](https://github.com/sourcegraph/sourcegraph/issues/9924) __1d__ 
- [x] GraphQL APIs are blocking forever in OSS version [#3847](https://github.com/sourcegraph/sourcegraph/issues/3847) __0.5d__ 
- [ ] ~Identify code owners for files currently owned by nobody~ [#10064](https://github.com/sourcegraph/sourcegraph/issues/10064) __0.5d__ 
- [ ] ~Add Grafana alert to `authzFilter` panel~ [#9923](https://github.com/sourcegraph/sourcegraph/issues/9923) __1d__ 
- [ ] ~Add ability for src-expose to periodically run a command (without then running git commit)~ [#9643](https://github.com/sourcegraph/sourcegraph/issues/9643) 
- [ ] Turn on background permissions syncing by default [#10657](https://github.com/sourcegraph/sourcegraph/issues/10657) __0.5d__ 
<!-- END ASSIGNEE -->
<!-- END WORK -->

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🛠️ [Roadmap](https://docs.google.com/document/d/1cBsE9801DcBF9chZyMnxRdolqM_1c2pPyGQz15QAvYI/edit#heading=h.5nwl5fv52ess)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- :shipit: Pull Request


My items are stable, though I haven't met 75% of my availability, I would like to keep the time open once done auditing the backend e2e tests, and plan more work accordingly.

My items are also stable, but I'm at ~50% of my availability, which I'd like to keep, since I suspect that the testing of campaigns can yield multiple tickets that we need to work on. Plus: I have childcare duties and probably less actual availability.

@sourcegraph/core-services: For the work you have already planned, is there any adjustment to the estimates that you can do confidently? There's a lot of unestimated work. It's ok if you can't reasonably estimate, but please verify.

@keegancsmith, @ryanslade, @rvantonder: Please confirm if your proposed work is ready, I want to get the tracking issue up for review today.

My proposed work is now ready. This iteration I'm planning to take some time off--the last two iterations I've compromised by working when I said I'd take time off and put also put in extra hours because I wanted to ship features. That's my choice obviously, but right now I'm feeling the need to break away from things a bit.

### Last week

Besides planning for 3.16, I spent the majority of last week testing, documenting, screenshotting, screencasting Campaigns. I also created a script that participants in the user-testing of Campaigns can follow and sent it out to Sourcegraph colleagues.

### This week

My goal this week is, again, to spend the majority of my time on improving the documentation and fixing little things that pop up in Campaigns.

Hopefully we'll also get back experience reports from the user-testing and can use that to improve campaigns.

### Last week

Went mostly as planned. Shipped a reduced scoped version of external communication (just rely on standard git envvars). Additionally had a customer search perf issues come up that took some time. Not 100% resolved, but will document the investigation process.

### This week

Main focus is indexing multiple branches. Goal is to have Sourcegraph.com working with the multiple branches indexing code path (but still only index one branch). This will validate the few deeper infra changes planned won't break anything. Additionally some time will be spent planning high level goals/projects for Q2 in search.

### Last Week

Finishing off the rate limiter for changeset syncing and planning for the next iteration.

### This Week

I'll focus on the final rate limiter changes and then switch focus to the webhook related tickets above


@tsenart My issues are stable. I've left availability as I expect many tickets to be created from user testing.

### Last Week

Spent the week mostly reading code and documentation and @keegancsmith onboarded me on #8800 and search in general

### This Week

I will focus on improving search performance for regex queries that should use Zoekt indexes

@nicksnyder, @christinaforney: Unless you have any feedback, I'll mark this issue as being worked on.

### Last week

- Got approved for adding authorization duration (i.e. `authzFilter`) data to ping.
- Wrote [RFC 142: Work plan to address backend e2e tests](https://docs.google.com/document/d/1LfCDPZZAkP4gFB0no-0Hb90EqMItnzv3YEb07B7WtrM/edit#heading=h.trqab8y0kufp).
- Background permissions syncing now has a new column `synced_at` to more accurately record when did last user-/repo- centric sync happen.
- Refactored our GitHub API client to only associate with one token, and simplified its repository cache management (from m:n to 1:1).
- Iteration planning.

### W20 Plan [2020-04-20]

- Finish adding authorization duration (i.e. `authzFilter`) data to ping.
- Start auditing backend e2e tests.
- Continue working on permissions admin UI on settings pages.
- Start adding some basic heuristics for background permissions sync scheduling.

@unknwon: @nicksnyder's suggestion sounds good to me. Can you please follow up on that?

### Last week

I did a bunch of manual QA testing for `and`/`or` queries, and added initial search docs for these. Addressed a p1 issue to undo fork exclusion in searches (#9933), and helped Uwe with search e2e tests for release.

### This week

Polish and/or queries and address outstanding tech debt and bugs, get started on better documentation as needed, start taking time off from Wed.

@nicksnyder @tsenart I created #10066, #10067 and #10068, but I didn't put #10068 in the iteration items because the current estimate is useless and unrealistic to fit in this iteration without wiping out all other planned items. I think it is already a good start if we can get the unit tests part done in this iteration.

I'm not working on Monday, so updating now (Friday)

### Last Week

Made querying for repo status in the admin UI much faster, down from around 6s on my machine to less than 1 second

Started work on a bunch of things related to webhooks:
* Updating the BitBucket plugin to listen to for more general events
* Handling an edge case around moving from "needs work" to "unapproved" in BitBucket
* Ensuring webhooks can be matched to just one external service
* Improving test coverage and making it easier to add more tests 

### This Week

Finish the webhook work above and then focus on all bugs assigned to me above

### Last week

- Decided to not add `authzFilter` duration to ping data because of technical difficulties (i.e. how to get consistent result as shown in Grafana dashboard), will revisit this later at some point. As for now, waiting for distributions team to finish Grafana dashboard migration, then add alerts to permissions panels.
- Finished refactoring of GitHub API client to only associate with one token.
- Investigated and fixed an open redirect security vulnerbility.
- Investigated how to integrate our rate limiter into permissions syncer, started a dicussion with Ryan about using service ID (e.g. https://github.com) instead of database ID as keys in registry’s internal map.
- Started auditing backend e2e tests.
- Implemented permissions UI in repository settings page, waiting for review.
- Hacked on docsite to migrate from blackfriday to goldmark.

### W21 Plan [2020-04-27]

- OOO Friday, May 1st.
- Finish auditing backend e2e/regression tests, then revise [RFC 142: Work plan to address backend e2e tests](https://docs.google.com/document/d/1LfCDPZZAkP4gFB0no-0Hb90EqMItnzv3YEb07B7WtrM/edit) for review.
- Take a deeper look on Eric's approach for mocks in tests.
- Have a conclusion for rate limiter discussion.
- Get permissions UI of repos PR merged, then finish adding the same UI for users.
- Make our GitHub API client support list only private affiliated repositories.

### Last week

- Worked on performance improvement for Zoekt
- Worked on preventing usage of non-root external url
- Setup src and tried campaigns

### This week

- Track and/or usage in pings
- Work on other Zoekt improvements
- Push Zoekt changes upstream

### Last week

Spent the majority of my time improving the Campaigns documentation (see: https://docs.sourcegraph.com/user/campaigns) and started collecting feedback from Campaigns user testing.

### This week

Looks like it's going to be a meeting-heavy week for me, but I want to make progress on exposing combined `diffStat` attributes in the GraphQL API (https://github.com/sourcegraph/sourcegraph/issues/7092) with acceptable performance, and refactor the code underlying the "state" calculation of changesets (https://github.com/sourcegraph/sourcegraph/issues/9101).

This morning I also wrote down [some of my thoughts on technical direction for Campaigns](https://docs.google.com/document/d/1KjQXoGotiKEM5yHHTCS_bRPdYr5GQpZlUT-YSR6zD84/edit) including some ideas that might be worth to explore and hack on while waiting for feedback from the user-testing of campaigns.

### Last week

Extended the GraphQL with the `diffStat` property on `Campaign` and `PatchSet` (#7092). Was also in the mood for writing tests and added a huge integration test that covers the complete process from patch set creation to turning patches into changesets on code hosts.

Besides that I collected and converted Campaigns feedback from colleagues (#9912). 

### This week

This week I plan on turning the Campaigns feedback into a list of bugs, missing features, etc. so we can get an overview and prioritize.

I also want to spend some more time on Campaigns documentation after noticing last week that users stumble most with getting what Campaigns can do.

Hopefully also refactor some code (#9101).

## Last Week

Simplified test setup for webhooks and added more tests
Started work on adding more campaign ping data
90% done on making sure that campaign webhooks relate to one external service

## This week

Focus on remaining webhook issues followed by bug fixes



### Last Week

Added GraphQL integration of version contexts

### This Week

I will probably work on tracking and/or usage in pings


### Last week
- Shipped permissions UI in repository settings page.
- Took over the PR to fix GraphQL APIs were not useable in OSS version.
- Investigated why users are not seeing license expired notice on an instance with expired license, turns out to be a bug, filed #10363.

### W17 [2020-05-04]

- OOO Monday and Tuesday (May 4 - May 5), won't attend meetings
- Finish auditing backend e2e/regression tests, then revise [RFC 142: Work plan to address backend e2e tests](https://docs.google.com/document/d/1LfCDPZZAkP4gFB0no-0Hb90EqMItnzv3YEb07B7WtrM/edit) for review.
- Finish adding the permissions UI for users.
- Make our GitHub API client support list only private affiliated repositories.
- Start working on admin button for refreshing permissions for a user / repo.

**Last Week**

Took time off.

**This week**

I'll be working on syntax support for querying multiple repos at multiple revisions (part of RFC 136).




**Last Week**: Implemented and validated shallow cloning. Shallow clones will be used instead of archives for indexing multiple branches.

**This Week**: Goal is to index multiple branches on sourcegraph.com, but only search HEAD.

### Last week

- Finished auditing backend e2e tests, working on the prototype of an example integration test for search.
- Shipped permissions page for user settings.
- Implemented repo-updater endpoint for scheduling permissions sync. Waiting for review #10528

### W18 plan [2020-05-11]

- Make our GitHub client support only list private affiliated repositories.
- Finish prototyping new e2e tests for RFC 142.
- Fix license expired notice is not showing up for users.
- Finish adding admin button for refreshing permissions for a user / repo.
- Evaluate work plan to integrate code host rate limit registry.
- Experiment on using serializable transactions for updating permissions.

## Last week

* Updates to the Bitbucket plugin and the way we handle Bitbucket webhooks to support more types of pull requests events, specifically ones that are not "activities"
* Work on RFC 154. The idea is approved but the implementation could change.

## This week

* Focus on getting RFC 154 implemented. I'll be looking into an alternate approach that @tsenart suggested this morning that could mean we won't need to create a new table. 

I am unlikely to get to all my assigned issues this iteration, the following are unlikely to get done:

- [ ] Reduce coupling in campaign store tests [#10022](https://github.com/sourcegraph/sourcegraph/issues/10022) __1d__ 🧶
- [ ] Use internal rate limiters for all source requests [#9953](https://github.com/sourcegraph/sourcegraph/issues/9953) __1.5d__ 
- [ ] RFC 132: Use rate limit data when scheduling changeset syncs [#9105](https://github.com/sourcegraph/sourcegraph/issues/9105) __1d__ 
- [ ] src-cli 3.16 meta [#10283](https://github.com/sourcegraph/sourcegraph/issues/10283) __1d__ 
- [ ] Reduce usage of raw string for external service kind [#10296](https://github.com/sourcegraph/sourcegraph/issues/10296) __0.5d__ 🧶

None of them are required for 3.16 but if anyone has spare capacity, feel free to take them. If not, I'll move them over to the next iteration.



**Last week**

Caught up on RFC 136 Version Context, clarified use for MVP and current prioritization (outcome: deprioritized query syntax work based on discussion). Reviewed Version Context frontend RFC and had a quick glance at Code Insights RFC. Added guidance for our search metric logging, investigating some cases where strange values are logged. Added some search doc updates. I had hoped to jump in on Version Context work but am dealing with a lot of pressing admin/immigration stuff this week.

**This week**

The current MVP spec for RFC 136 means the query work I had in mind is no longer a priority. My current focus is therefore to help the team effort for making progress on the Version Context MVP where possible based on https://github.com/sourcegraph/sourcegraph/issues/6728#issuecomment-617248959, up to the point that all remaining subtask are fully allocated to an owner. Keegan mentioned helping with tasks in `zoekt.go`, but based on https://github.com/sourcegraph/sourcegraph/issues/6728#issuecomment-624527356 this work is now allocated to Asdine. During search sync I'll clarify the current state of task allocation, and how I can now contribute. If that isn't clear, I plan to continue working on remaining features for query syntax work, which is ultimately what I'd _really_ like to do (including migrating search e2e tests to better integration tests ASAP, I need it for the search query work). Based on this, my plan is to:
- work on supporting subtasks for MVP 136 as per https://github.com/sourcegraph/sourcegraph/issues/6728#issuecomment-617248959
- address issues with surfacing alerts more explicitly for excluded forks #9928 
- otherwise work on search query syntax

### Last week

Majority of last week was spent on extracting feedback from user testing, trying to work out some small fixes, and refactoring the code that calculates a changeset's state based on historical data to only use a single function/entrypoint (see https://github.com/sourcegraph/sourcegraph/pull/10413 if you're curious).

I also recorded a demo-video of Campaigns.

### This week

The goal this week is to start fixing the things reported in https://github.com/sourcegraph/sourcegraph/issues/9912#issuecomment-625087822. There's a ton of small-ish issues that we should tackle before the release.

**Last Week**: Sourcegraph.com is running zoekt-git-index, but not indexing multiple branches yet. The goal was to index multiple, but very close and likely to start happening today.

**Unplanned**: Fixed indexed symbol search being broken for custom languages. It seems to have never worked :'(

**This Week**: Optional indexing of multiple branches (just in time for branch cut maybe?).

### Last Week

- I worked on the Version Context GraphQL integration
- Refactored some search frontend code 

### This Week

- I will work on the indexing of multiple branches


Dear all,

This is your release captain speaking. 🚂🚂🚂

Branch cut for the **3.16 release is scheduled for tomorrow**.

Is this issue / PR going to make it in time? Please change the milestone accordingly.
When in doubt, reach out!

Thank you


**Last Week**: Tackled smaller issues for 3.16 branch cut. Made small amount of progress on indexing multiple branches https://github.com/sourcegraph/sourcegraph/issues/6728#issuecomment-629232643 

**This Week**: Indexing and searching of multiple branches working end to end.

**Last week**

I ended up mostly working on https://github.com/sourcegraph/sourcegraph/pull/10624 for excluding forks which was a big time sink. The conceptual fix is easy, but the current state of our code / API makes this change difficult, and it is concerning (certainly not unusual though, for search code). Other than that I worked on an integration test driver which is crucial for query work and helped knock out some search bugs with our external contributor https://github.com/sourcegraph/sourcegraph/issues/10481 https://github.com/sourcegraph/sourcegraph/pull/10754.

**This week**
 
Search query code: continue work towards production-ready state (and/or queries, etc.) and completely migrating away from the previous parser.


### Last week

- Shipped "Schdule now" button for site admins to refresh permissions for both users and repositories.
- Added a visibility filter to GitHub client for listing affiliated repositories. The first attempt to use golden account to produce VCRs.
- Invetigated dot-com pings problem and why large instances are offline. #10598
- Invetigated and proposed fix with Uwe about a regression that caught by our e2e tests. #10709

### W19 plan [2020-05-18]

- Continue on my e2e prototype and revise RFC 142.
- Turn on background permissions syncing by default.
- Fix license expired notice is not showing up for users.
- Continue seeking integrating rate limiting into permissions syncing.

### Last Week

- Added support for multi-branch indexing on Zoekt
- Worked on some Zoekt performance improvement

### This Week

- I will add support for multi-branch indexing on Sourcegraph
- Keep working on Zoekt perf improvements


## Last Week

* Added ping data for changeset activity
* Fix handling of GitHub close with merge webhooks
* Panning for 3.17 

## This Week

* Review RFC 157
* Finish off validation that only one rate limiter can be configured per code host
* Start work Campaigns 3.17 issues, starting with bugs