Security: 3.19 Tracking issue

### Plan

Achieve [RFC 196](https://docs.google.com/document/d/1e10UPwmI16VAQleBK81EQMMGTRBgihI1vwL5I6kicrA/) in support of 
Goal 2: Store and handle external service and external account secrets securely.

### Availability

Period is from July 20th to August 19th (23 working days). Please write the days you won't be working and the number of working days for the period.

- **@chayim**: 19d (off Aug 10-13)

### Tracked issues

<!-- BEGIN WORK -->
<!-- BEGIN ASSIGNEE: ElizabethStirling -->
@ElizabethStirling

- [x] Send new users (added by site admin) the password reset URL over email [#1519](https://github.com/sourcegraph/sourcegraph/issues/1519) 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: Unassigned -->
@Unassigned

- [x] Implement a DBEncryptionStore supporting the database back end [#12267](https://github.com/sourcegraph/sourcegraph/issues/12267) 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: chayim -->
@chayim

- [x] Create a dedicated token object that can be used as part of the per deployment encryption [#12410](https://github.com/sourcegraph/sourcegraph/issues/12410) 
- [x] Separate Secrets Access from Secrets Storage [#12165](https://github.com/sourcegraph/sourcegraph/issues/12165) 
- [x] Implement Schema for Secrets Storage [#12164](https://github.com/sourcegraph/sourcegraph/issues/12164) 
- [x] Create a dedicated token object for returning the raw and masked tokens [#12268](https://github.com/sourcegraph/sourcegraph/issues/12268) 
- [x] Key Rotation Should Re-encrypt objects at rest [#12269](https://github.com/sourcegraph/sourcegraph/issues/12269) 
- [ ] Update repo_update code to use encrypted store [#12264](https://github.com/sourcegraph/sourcegraph/issues/12264) 
- [ ] Migrate secrets from JSON blobs to encrypted storage [#12263](https://github.com/sourcegraph/sourcegraph/issues/12263) 
- [ ] Create an automatic migration for existing data [#12265](https://github.com/sourcegraph/sourcegraph/issues/12265) 
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: daxmc99 -->
@daxmc99

- [x] Generate unique keys on a per deployment basis [#12409](https://github.com/sourcegraph/sourcegraph/issues/12409) 
- [x] Create a dedicated token object that can be used as part of the per deployment encryption [#12410](https://github.com/sourcegraph/sourcegraph/issues/12410) 
- [x] Key Rotation Should Re-encrypt objects at rest [#12269](https://github.com/sourcegraph/sourcegraph/issues/12269) 
- [x] Create a dedicated token object for returning the raw and masked tokens [#12268](https://github.com/sourcegraph/sourcegraph/issues/12268) 
- [ ] Create an automatic migration for existing data [#12265](https://github.com/sourcegraph/sourcegraph/issues/12265) 
- [ ] Update repo_update code to use encrypted store [#12264](https://github.com/sourcegraph/sourcegraph/issues/12264) 
- [ ] Migrate secrets from JSON blobs to encrypted storage [#12263](https://github.com/sourcegraph/sourcegraph/issues/12263) 
<!-- END ASSIGNEE -->
<!-- END WORK -->

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🛠️ [Roadmap](https://docs.google.com/document/d/1cBsE9801DcBF9chZyMnxRdolqM_1c2pPyGQz15QAvYI/edit#heading=h.5nwl5fv52ess)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- :shipit: Pull Request


**Last Week**

Migrated [RFC192](https://docs.google.com/document/d/1ndjXwjKBgx9YufY_150MZy0ksUenJU0FyYt3xycjTsU/) and [RFC 194](https://docs.google.com/document/d/1zZLJEvm0-0Zz1pJiYnfTPIkp3uIOV8j18tPVWKnAuZc/) into the [roadmap](https://docs.google.com/document/d/1HhYfnkC17yCPqqw91H1QAF7q8toOOiNtoOOw06hqrNQ/) planning document.  Received partial approvals for [RFC 196](https://docs.google.com/document/d/1HhYfnkC17yCPqqw91H1QAF7q8toOOiNtoOOw06hqrNQ/), which led to a PR and merge for #12164, and work started on #12165. Investigated [security issue #79](https://github.com/sourcegraph/security-issues/issues/79) and closed another the false positive.

**This week**

E.J. onboarding. Flesh out security work for 3.19, and complete the token object in #12268,  and start developing per-customer rotatable keys in #12269.

**Last Week**

@ElizabethStirling onboarding! Ran static code analysis against the codebase to search for security hotspots. Paired with @daxmc99 to get #12409 into the review state, and completed #12410.  That leaves us with #1-3 complete in RFC-196, meaning generating unique per-deployment security keys, data storage, and key usage are all ready. The key generating pieces work well for @sourcegraph/distribution to use in the three environment types, and I reviewed (and changed the feature!) with @pecigonzalo.

**This Week**

Continue on with RFC-196.  We'll start integrating the database backend (#12267) and plan the json blob integration for a single code host (#12263). By the end of the week I'd like to have at least one code-host fully integrated into encryption backend.

**This Week**
- On-boarding (#11605). Most of the way through, but a few more things to check off on the engineering side. Mainly relates to dev environment due to delays with laptop shipping.
- Chatted with most teams about what they wanted from security, bar one team due to scheduling. Scheduled for next week.

**Next Week**
- On-boarding (#11605). Finish up dev on-boarding.
- Chat with remaining team about security,
- Familiarize myself with the Go language & the codebase.
- I'd like to have a good start on [security-20](https://github.com/sourcegraph/security-issues/issues/20)

**This week** Dax and I are ongoingly pairing to work through encryption. This arose from having also discussed with @keegancsmith a better approach. The result is that database access (#12267 ) is no longer needed.  This allowed us to migrate several types, and get far ahead in encrypting storage as part of #12263.  Also isolated a PR for read-only database access, and pruned issues in security.

**Next week**
I'd like to complete the encryption of data (#12263) in its entirety, add at least start on support for automatically migrating secrets to the encrypted backend (#12265), whilst rotating secrets (#12269). Similarly, I'll at least get started on (#12264) and have pairing with @keegancsmith as part of it.  Finally, the read-only database access change should go into production.

**This week**
- Finished dev onboarding
- Spent time familiarizing myself with golang
- Started updating user creation by site admins (#1519) so that the new user would automatically get the password reset link

**Next Week**
- Finish #1519
- I'd like to tackle #7517, since it seems like it might force me to touch a lot of the codebase
- Chat with Joe about state of product security
- I'd like to start getting a solid plan for my next few weeks sorted with @chayim, as I get more introduced to the codebase and the product

**This week**
@daxmc99 and I continued to work through the encryption of data as part of RFC 196. We have encrypted everything already planned (#12263), and added additional support for the event\_log argument types.  We developed a plan for rotating secrets, validating the useability with @rrhyne  and updating the database (#12269), including a proof of concept. Finally, I updated the documentation for these feature (#12266), such that it can be carried forward in my absence.

**Next week**
I'll be working on an RFC for encrypted filesystems, to enable multiple organizations to store data, whilst maintaining privacy between them.  I'll also start fleshing out a plan for vulnerability scanning.  As a reminder, my availability is decreased heavily next week.  

Dear all,

This is your release captain speaking. 🚂🚂🚂

Branch cut for the **3.19 release is scheduled for tomorrow**.

Is this issue / PR going to make it in time? Please change the milestone accordingly.
When in doubt, reach out!

Thank you


**This Week**
My availability was less than expected until Internet access was available.  Today I worked on the [RFC for encrypted filesystems and data](https://docs.google.com/document/d/1ajVQ11Vyi0Wz67DN15W3girJ5kyB5Zb7vk0LK6r7gbQ/) and customer data.  I started looking into [security issue 83](https://github.com/sourcegraph/security-issues/issues/83).

**Next Week**
I'm going to catch up with @daxmc99 on RFC196 status and see where we are.  I'm committing to getting the [RFC for encrypted filesystems and data](https://docs.google.com/document/d/1ajVQ11Vyi0Wz67DN15W3girJ5kyB5Zb7vk0LK6r7gbQ/) out for comment, and planning.  Similarly, I'd like to close off [security issue 83](https://github.com/sourcegraph/security-issues/issues/83), and complete the proposal and solicit feedback on the plan reserved in [security issue 84](https://github.com/sourcegraph/security-issues/issues/84).

**This Week**
Mainly spent this week working on a couple of issues. Got #1519 finished up, and am now working on #1126. Started looking into [security issue 73](https://github.com/sourcegraph/security-issues/issues/73). I plan to start on an RFC for #1126, because I see two diverging paths to solve a problem we have, and I'd like to solicit feedback from the team.

**Next Week**
I expect to spend next week finishing the RFC and implementing its conclusions for #1126, which should allow me to resolve [security issue 73](https://github.com/sourcegraph/security-issues/issues/73). I also want to look more into our AuthZ plans and requirements, so that I can potentially create an RFC for a new AuthZ system. This will require meeting with @christinaforney and potentially @unknwon, so that I can potentially create an RFC for updating AuthZ for Sourcegraph cloud.

**Last week** I caught up on RFC 196, and made changes to start working on automating encryption of existing data in #12265.  Rolled out the [RFC for encrypted filesystems](https://docs.google.com/document/d/1ajVQ11Vyi0Wz67DN15W3girJ5kyB5Zb7vk0LK6r7gbQ), and worked on the [roadmap](https://docs.google.com/document/d/1HhYfnkC17yCPqqw91H1QAF7q8toOOiNtoOOw06hqrNQ/).  Worked out bringing on a part-time testing resource, as an experiment, in addition to firming up [security issue #83](https://github.com/sourcegraph/security-issues/issues/83).  Also, worked out goals.

**This week* This week, I'd like to close off, and get approval for the [RFC for encrypted filesystems](https://docs.google.com/document/d/1ajVQ11Vyi0Wz67DN15W3girJ5kyB5Zb7vk0LK6r7gbQ). I'll continue working on RFC196 as part of the 3.20 release, with @daxmc99.  Hopefully start to bring on our tester, and work with the team helping out on [security issue 83](https://github.com/sourcegraph/security-issues/issues/83).  Finally, I intend to better organize the roadmap, and hopefully line up the near short-term workload.

@chayim 3.19 is done so ready to close this issue?

Yup, battening the hatches today.