Code Intelligence 3.21 Tracking issue

### Plan

**Goal:** Get the top three most popular language indexers: lsif-go, lsif-java, lsif-clang stable by working directly on implementation with customers to identify and resolve any remaining issues that prevent the tool from being use in a wide release. This goal takes top priority for this milestone and each member of the team is leading the initiative on an indexer. 

**Goal:** Improve the reliability and the precise code intel backend by migrating data away from SQLite and into a more suitable database, Postgres.

**Goal:** Improve best effort auto-indexing for supported languages (see issues related to RFC 201).

### Availability

Period is from 2020-09-20 to 2020-10-20. Please write the days you won't be working and the number of working days for the period.

* Aida: 10d
* Eric: 19d (off 2020/09/28-30)
* Noah: 21d (off 2020/10/02)
* Garo: 10d (off 2020/10/05-09)

### Tracked issues

<!-- BEGIN WORK -->
<!-- BEGIN ASSIGNEE:  -->
@unassigned


Completed
- [x] (🏁 7 days ago) codeintel: Generalize postgres bulk upload ([~#14608~](https://github.com/sourcegraph/sourcegraph/issues/14608); PRs: ~[#14637](https://github.com/sourcegraph/sourcegraph/pull/14637)~) 🧶
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: Strum355 -->
@Strum355

- [ ] Find references to common Java class method name without false-positives ([#3418](https://github.com/sourcegraph/sourcegraph/issues/3418))
- [ ] 🚚 LSIF-Java Delivery  ([#13017](https://github.com/sourcegraph/sourcegraph/issues/13017))

Completed
- [x] (🏁 27 days ago) LSIF-JVM Research Spike ([~#14057~](https://github.com/sourcegraph/sourcegraph/issues/14057)) 🕵️
- [x] (🏁 8 days ago) codeintel: Faster online find closest commit operations ([~#14486~](https://github.com/sourcegraph/sourcegraph/issues/14486); PRs: ~[#14581](https://github.com/sourcegraph/sourcegraph/pull/14581)~)
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: aidaeology -->
@aidaeology: __1.00d__

- [ ] update lsif.dev ([#12501](https://github.com/sourcegraph/sourcegraph/issues/12501))

Completed: __1.00d__
- [x] (🏁 27 days ago) Add history of code intelligence ([~#1628~](https://github.com/sourcegraph/about/pull/1628)) :shipit:
- [x] (🏁 22 days ago) Add overview and instructions for using campaigns to enable precise code intel ([~#14224~](https://github.com/sourcegraph/sourcegraph/issues/14224)) __0.50d__
- [x] (🏁 4 days ago) Navigation to definition unavailable from occurrence/usage of symbol in source  ([~#13200~](https://github.com/sourcegraph/sourcegraph/issues/13200)) __0.50d__ 🐛
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: beyang -->
@beyang: __4.00d__

- [ ] 🚚 LSIF-clang Delivery ([#12349](https://github.com/sourcegraph/sourcegraph/issues/12349)) __4.00d__
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: efritz -->
@efritz: __9.00d__

- [ ] RFC 235 Tracking issue: Move LSIF data to Postgres ([#13882](https://github.com/sourcegraph/sourcegraph/issues/13882)) __4.50d__
  - [ ] Write announcement post for Postgres change ([#14009](https://github.com/sourcegraph/sourcegraph/issues/14009))
  - [x] (🏁 25 days ago) codeintel: RFC 235: Soft delete upload records ([~#13822~](https://github.com/sourcegraph/sourcegraph/pull/13822)) :shipit:
  - [x] (🏁 18 days ago) RFC 235: Add code intel postgres container ([~#13883~](https://github.com/sourcegraph/sourcegraph/issues/13883); PRs: ~[#13864](https://github.com/sourcegraph/sourcegraph/pull/13864)~, ~[#13904](https://github.com/sourcegraph/sourcegraph/pull/13904)~, ~[#13924](https://github.com/sourcegraph/sourcegraph/pull/13924)~) __1.00d__
  - [x] (🏁 18 days ago) RFC 235: Configure connection to codeintel database ([~#13884~](https://github.com/sourcegraph/sourcegraph/issues/13884); PRs: ~[#13864](https://github.com/sourcegraph/sourcegraph/pull/13864)~, ~[#13952](https://github.com/sourcegraph/sourcegraph/pull/13952)~) __0.50d__
  - [x] (🏁 18 days ago) RFC 235: Add migration infrastructure to codeintel database ([~#13885~](https://github.com/sourcegraph/sourcegraph/issues/13885); PRs: ~[#13903](https://github.com/sourcegraph/sourcegraph/pull/13903)~, ~[#13943](https://github.com/sourcegraph/sourcegraph/pull/13943)~) __1.00d__
  - [x] (🏁 14 days ago) RFC 235: Update bundle manager to read from Postgres ([~#13886~](https://github.com/sourcegraph/sourcegraph/issues/13886); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#13924](https://github.com/sourcegraph/sourcegraph/pull/13924)~) __0.50d__
  - [x] (🏁 13 days ago) RFC 235: Update bundle manager janitor ([~#13887~](https://github.com/sourcegraph/sourcegraph/issues/13887); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#14468](https://github.com/sourcegraph/sourcegraph/pull/14468)~)
  - [x] (🏁 13 days ago) RFC 235: Migrate SQLite data to Postgres ([~#13888~](https://github.com/sourcegraph/sourcegraph/issues/13888); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#13932](https://github.com/sourcegraph/sourcegraph/pull/13932)~) __0.50d__
  - [x] (🏁 13 days ago) RFC 235: Update worker to write to Postgres ([~#13889~](https://github.com/sourcegraph/sourcegraph/issues/13889); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#13946](https://github.com/sourcegraph/sourcegraph/pull/13946)~) __0.50d__
  - [x] (🏁 32 days ago) RFC 235: Add code intel postgres image ([~#13912~](https://github.com/sourcegraph/sourcegraph/issues/13912); PRs: ~[#13913](https://github.com/sourcegraph/sourcegraph/pull/13913)~) __0.50d__
  - [x] (🏁 32 days ago) chore: Co-locate dev scripts to interact with postgres ([~#13942~](https://github.com/sourcegraph/sourcegraph/pull/13942)) :shipit:
  - [x] (🏁 32 days ago) chore: Set exec bit on docker-images/codeintel-db/build.sh ([~#13955~](https://github.com/sourcegraph/sourcegraph/pull/13955)) :shipit:
  - [x] (🏁 18 days ago) fix: Ensure frontend connects to frontend database ([~#14379~](https://github.com/sourcegraph/sourcegraph/pull/14379)) :shipit:
  - [x] (🏁 8 days ago) RFC 235: Do not mush data together in the server deployment ([~#14464~](https://github.com/sourcegraph/sourcegraph/issues/14464); PRs: ~[#14487](https://github.com/sourcegraph/sourcegraph/pull/14487)~)
  - [x] (🏁 13 days ago) codeintel: Run migrations on startup for codeintel database ([~#14484~](https://github.com/sourcegraph/sourcegraph/pull/14484)) :shipit:
  - [x] (🏁 13 days ago) codeintel: Do not block bundle manager startup with migrations ([~#14493~](https://github.com/sourcegraph/sourcegraph/pull/14493)) :shipit:
  - [x] (🏁 6 days ago) codeintel: Remove bundle manager hop from query path ([~#14507~](https://github.com/sourcegraph/sourcegraph/pull/14507)) :shipit:
  - [x] (🏁 12 days ago) codeintel: Lower number of goroutines during SQLite -> Postgres migration ([~#14520~](https://github.com/sourcegraph/sourcegraph/pull/14520)) :shipit:
  - [x] (🏁 12 days ago) codeintel: De-multiply writes during SQLite -> Postgres migration ([~#14536~](https://github.com/sourcegraph/sourcegraph/pull/14536)) :shipit:
  - [x] (🏁 12 days ago) codeintel: Clean up bundle files after SQLite -> Postgres migration ([~#14537~](https://github.com/sourcegraph/sourcegraph/pull/14537)) :shipit:
  - [x] (🏁 12 days ago) codeintel: Add indexes to codeintel database tables ([~#14538~](https://github.com/sourcegraph/sourcegraph/pull/14538)) :shipit:
  - [x] (🏁 7 days ago) RFC 235: Update janitor ([~#14566~](https://github.com/sourcegraph/sourcegraph/issues/14566); PRs: ~[#14641](https://github.com/sourcegraph/sourcegraph/pull/14641)~)
  - [x] (🏁 6 days ago) RFC 235: Update metrics ([~#14568~](https://github.com/sourcegraph/sourcegraph/issues/14568); PRs: ~[#14695](https://github.com/sourcegraph/sourcegraph/pull/14695)~)
  - [x] (🏁 7 days ago) RFC 235: Find equivalent of the now useless "freeSpace" operation in the janitor ([~#14569~](https://github.com/sourcegraph/sourcegraph/issues/14569); PRs: ~[#14641](https://github.com/sourcegraph/sourcegraph/pull/14641)~)
  - [x] (🏁 7 days ago) RFC 235: Document minimum time required to be spent in 3.21 ([~#14604~](https://github.com/sourcegraph/sourcegraph/issues/14604); PRs: ~[#14635](https://github.com/sourcegraph/sourcegraph/pull/14635)~)
  - [x] (🏁 7 days ago) RFC 235: Update architecture diagram ([~#14605~](https://github.com/sourcegraph/sourcegraph/issues/14605); PRs: ~[#14633](https://github.com/sourcegraph/sourcegraph/pull/14633)~)
- [ ] RFC 201: Tracking issue ([#13891](https://github.com/sourcegraph/sourcegraph/issues/13891)) __2.00d__
  - [ ] ~RFC 201: Configure CNCF repositories for indexing~ ([#14343](https://github.com/sourcegraph/sourcegraph/issues/14343); PRs: ~[#14344](https://github.com/sourcegraph/sourcegraph/pull/14344)~, ~[#14415](https://github.com/sourcegraph/sourcegraph/pull/14415)~) __1.00d__
  - [ ] ~RFC 201: Update metrics~ ([#14567](https://github.com/sourcegraph/sourcegraph/issues/14567)) __1.00d__
  - [x] (🏁 19 days ago) RFC 201: Write a JSONC index configuration format parser ([~#13892~](https://github.com/sourcegraph/sourcegraph/issues/13892); PRs: ~[#14356](https://github.com/sourcegraph/sourcegraph/pull/14356)~)
  - [x] (🏁 18 days ago) RFC 201: Update auto indexer execution ([~#13894~](https://github.com/sourcegraph/sourcegraph/issues/13894); PRs: ~[#14359](https://github.com/sourcegraph/sourcegraph/pull/14359)~)
  - [x] (🏁 15 days ago) RFC 201: Update index scheduler to publish new payload ([~#13895~](https://github.com/sourcegraph/sourcegraph/issues/13895); PRs: ~[#14358](https://github.com/sourcegraph/sourcegraph/pull/14358)~)
  - [x] (🏁 14 days ago) RFC 201: Create index record based on configuration file ([~#13896~](https://github.com/sourcegraph/sourcegraph/issues/13896); PRs: ~[#14358](https://github.com/sourcegraph/sourcegraph/pull/14358)~, ~[#14416](https://github.com/sourcegraph/sourcegraph/pull/14416)~)
  - [x] (🏁 14 days ago) RFC 201: Detect configuration from repo contents ([~#13897~](https://github.com/sourcegraph/sourcegraph/issues/13897); PRs: ~[#14418](https://github.com/sourcegraph/sourcegraph/pull/14418)~)
  - [x] (🏁 27 days ago) codeintel: Refactor command runner in indexer ([~#14102~](https://github.com/sourcegraph/sourcegraph/pull/14102)) :shipit:
  - [x] (🏁 27 days ago) codeintel: Lower indexer output to debug level ([~#14103~](https://github.com/sourcegraph/sourcegraph/pull/14103)) :shipit:
  - [x] (🏁 27 days ago) codeintel: Refactor index command construction ([~#14105~](https://github.com/sourcegraph/sourcegraph/pull/14105)) :shipit:
  - [x] (🏁 27 days ago) codeintel: Move away from hardcoding image names ([~#14114~](https://github.com/sourcegraph/sourcegraph/pull/14114)) :shipit:
  - [x] (🏁 27 days ago) codeintel: Refactor construction of copyfiles flags ([~#14116~](https://github.com/sourcegraph/sourcegraph/pull/14116)) :shipit:
  - [x] (🏁 27 days ago) codeintel: Add orderedKeys to indexer ([~#14117~](https://github.com/sourcegraph/sourcegraph/pull/14117)) :shipit:
  - [x] (🏁 19 days ago) codeintel: Make docker/firecracker abstraction in indexer ([~#14121~](https://github.com/sourcegraph/sourcegraph/pull/14121)) :shipit:
  - [x] (🏁 18 days ago) migration: Update default indexer/indexer_args in lsif_indexes table ([~#14360~](https://github.com/sourcegraph/sourcegraph/pull/14360)) :shipit:
  - [x] (🏁 18 days ago) codeintel: Update default indexer args in index scheduler ([~#14378~](https://github.com/sourcegraph/sourcegraph/pull/14378)) :shipit:
  - [x] (🏁 18 days ago) migration: Fix bad default in indexer records ([~#14380~](https://github.com/sourcegraph/sourcegraph/pull/14380)) :shipit:
  - [x] (🏁 18 days ago) codeintel: Fix bad default lsif-go arguments ([~#14386~](https://github.com/sourcegraph/sourcegraph/pull/14386)) :shipit:
  - [x] (🏁 15 days ago) RFC 201: Add disk size to VM ([~#14390~](https://github.com/sourcegraph/sourcegraph/issues/14390); PRs: ~[#14412](https://github.com/sourcegraph/sourcegraph/pull/14412)~)
  - [x] (🏁 15 days ago) RFC 201: Create index record based on database configuration ([~#14409~](https://github.com/sourcegraph/sourcegraph/issues/14409); PRs: ~[#14415](https://github.com/sourcegraph/sourcegraph/pull/14415)~)
  - [x] (🏁 15 days ago) codeintel: Remove temporary files from firecracker VMs on startup ([~#14411~](https://github.com/sourcegraph/sourcegraph/pull/14411)) :shipit:
  - [x] (🏁 14 days ago) codeintel: Add go mod download step to go index jobs ([~#14452~](https://github.com/sourcegraph/sourcegraph/pull/14452)) :shipit:
  - [x] (🏁 11 days ago) codeintel: Store index job commands and output in the database ([~#14457~](https://github.com/sourcegraph/sourcegraph/pull/14457)) :shipit:
- [ ] Slow Precise Code-Intel Tooltips in C/C++ Code ([#13733](https://github.com/sourcegraph/sourcegraph/issues/13733))
- [ ] ~codeintel: git diffing fails graphql requests related to force-pushed commits~ ([#12588](https://github.com/sourcegraph/sourcegraph/issues/12588)) __0.50d__ 🧶
- [ ] ~🚚 LSIF-Go Delivery~ ([#13015](https://github.com/sourcegraph/sourcegraph/issues/13015))
- [ ] ~Update RFC 236~ ([#14007](https://github.com/sourcegraph/sourcegraph/issues/14007)) __1.00d__
- [ ] codeintel: Store commits as bytea in lsif_nearest_uploads ([#14679](https://github.com/sourcegraph/sourcegraph/pull/14679)) :shipit:
- [ ] Remove -endpoint from src-cli usage ([#11878](https://github.com/sourcegraph/sourcegraph/issues/11878)) __0.50d__ 🧶

Completed: __5.00d__
- [x] (🏁 32 days ago) chore: Co-locate dev scripts to interact with postgres ([~#13942~](https://github.com/sourcegraph/sourcegraph/pull/13942)) :shipit:
- [x] (🏁 32 days ago) RFC 235: Add code intel postgres image ([~#13912~](https://github.com/sourcegraph/sourcegraph/issues/13912); PRs: ~[#13913](https://github.com/sourcegraph/sourcegraph/pull/13913)~) __0.50d__
- [x] (🏁 32 days ago) chore: Set exec bit on docker-images/codeintel-db/build.sh ([~#13955~](https://github.com/sourcegraph/sourcegraph/pull/13955)) :shipit:
- [x] (🏁 29 days ago) 504 Gateway Timeouts when mousing over after the page has loaded for a while ([~#12930~](https://github.com/sourcegraph/sourcegraph/issues/12930)) 🐛
- [x] (🏁 29 days ago) LSIF uploads fail with abbreviated OID ([~#13957~](https://github.com/sourcegraph/sourcegraph/issues/13957); PRs: ~[#14005](https://github.com/sourcegraph/sourcegraph/pull/14005)~) __0.50d__
- [x] (🏁 29 days ago) Fix retries in src-cli lsif upload ([~#14008~](https://github.com/sourcegraph/sourcegraph/issues/14008))
- [x] (🏁 28 days ago) tracking-issue: Better nested tracking issue estimates ([~#14035~](https://github.com/sourcegraph/sourcegraph/pull/14035)) :shipit:
- [x] (🏁 27 days ago) codenotify: Configure efritz's subscriptions ([~#14060~](https://github.com/sourcegraph/sourcegraph/pull/14060)) :shipit:
- [x] (🏁 27 days ago) codeintel: Refactor command runner in indexer ([~#14102~](https://github.com/sourcegraph/sourcegraph/pull/14102)) :shipit:
- [x] (🏁 27 days ago) codeintel: Lower indexer output to debug level ([~#14103~](https://github.com/sourcegraph/sourcegraph/pull/14103)) :shipit:
- [x] (🏁 27 days ago) codeintel: Refactor index command construction ([~#14105~](https://github.com/sourcegraph/sourcegraph/pull/14105)) :shipit:
- [x] (🏁 27 days ago) codeintel: Move away from hardcoding image names ([~#14114~](https://github.com/sourcegraph/sourcegraph/pull/14114)) :shipit:
- [x] (🏁 27 days ago) codeintel: Refactor construction of copyfiles flags ([~#14116~](https://github.com/sourcegraph/sourcegraph/pull/14116)) :shipit:
- [x] (🏁 27 days ago) codeintel: Add orderedKeys to indexer ([~#14117~](https://github.com/sourcegraph/sourcegraph/pull/14117)) :shipit:
- [x] (🏁 26 days ago) dbworker: Pass sql options to TransactableHandle ([~#14044~](https://github.com/sourcegraph/sourcegraph/issues/14044); PRs: ~[#14061](https://github.com/sourcegraph/sourcegraph/pull/14061)~, ~[#14063](https://github.com/sourcegraph/sourcegraph/pull/14063)~)
- [x] (🏁 26 days ago) tracking-issue: Order finished work chronologically ([~#14124~](https://github.com/sourcegraph/sourcegraph/pull/14124)) :shipit:
- [x] (🏁 25 days ago) codeintel: RFC 235: Soft delete upload records ([~#13822~](https://github.com/sourcegraph/sourcegraph/pull/13822)) :shipit:
- [x] (🏁 19 days ago) codeintel: No longer able to upload repos which are currently cloning ([~#14052~](https://github.com/sourcegraph/sourcegraph/issues/14052); PRs: ~[#14141](https://github.com/sourcegraph/sourcegraph/pull/14141)~) 🐛
- [x] (🏁 19 days ago) codeintel: Explicitly list CNCF repositories for auto-indexing ([~#14344~](https://github.com/sourcegraph/sourcegraph/pull/14344)) :shipit:
- [x] (🏁 19 days ago) codeintel: Remove some wrappers from a previous abstraction ([~#14142~](https://github.com/sourcegraph/sourcegraph/pull/14142)) :shipit:
- [x] (🏁 19 days ago) codeintel: Make docker/firecracker abstraction in indexer ([~#14121~](https://github.com/sourcegraph/sourcegraph/pull/14121)) :shipit:
- [x] (🏁 19 days ago) codeintel: Fix values in fake repo usage stats for CNCF repos ([~#14353~](https://github.com/sourcegraph/sourcegraph/pull/14353)) :shipit:
- [x] (🏁 19 days ago) codeintel: Ensure CNCF values override real values ([~#14355~](https://github.com/sourcegraph/sourcegraph/pull/14355)) :shipit:
- [x] (🏁 19 days ago) RFC 201: Write a JSONC index configuration format parser ([~#13892~](https://github.com/sourcegraph/sourcegraph/issues/13892); PRs: ~[#14356](https://github.com/sourcegraph/sourcegraph/pull/14356)~)
- [x] (🏁 18 days ago) migration: Update default indexer/indexer_args in lsif_indexes table ([~#14360~](https://github.com/sourcegraph/sourcegraph/pull/14360)) :shipit:
- [x] (🏁 18 days ago) Tracking issue to track Eric's tracking issue improvements in 3.21  ([~#14264~](https://github.com/sourcegraph/sourcegraph/issues/14264))
- [x] (🏁 18 days ago) RFC 235: Add migration infrastructure to codeintel database ([~#13885~](https://github.com/sourcegraph/sourcegraph/issues/13885); PRs: ~[#13903](https://github.com/sourcegraph/sourcegraph/pull/13903)~, ~[#13943](https://github.com/sourcegraph/sourcegraph/pull/13943)~) __1.00d__
- [x] (🏁 18 days ago) fix: Ensure frontend connects to frontend database ([~#14379~](https://github.com/sourcegraph/sourcegraph/pull/14379)) :shipit:
- [x] (🏁 18 days ago) codeintel: Update default indexer args in index scheduler ([~#14378~](https://github.com/sourcegraph/sourcegraph/pull/14378)) :shipit:
- [x] (🏁 18 days ago) RFC 201: Update auto indexer execution ([~#13894~](https://github.com/sourcegraph/sourcegraph/issues/13894); PRs: ~[#14359](https://github.com/sourcegraph/sourcegraph/pull/14359)~)
- [x] (🏁 18 days ago) migration: Fix bad default in indexer records ([~#14380~](https://github.com/sourcegraph/sourcegraph/pull/14380)) :shipit:
- [x] (🏁 18 days ago) codeintel: Fix bad default lsif-go arguments ([~#14386~](https://github.com/sourcegraph/sourcegraph/pull/14386)) :shipit:
- [x] (🏁 18 days ago) RFC 235: Add code intel postgres container ([~#13883~](https://github.com/sourcegraph/sourcegraph/issues/13883); PRs: ~[#13864](https://github.com/sourcegraph/sourcegraph/pull/13864)~, ~[#13904](https://github.com/sourcegraph/sourcegraph/pull/13904)~, ~[#13924](https://github.com/sourcegraph/sourcegraph/pull/13924)~) __1.00d__
- [x] (🏁 18 days ago) RFC 235: Configure connection to codeintel database ([~#13884~](https://github.com/sourcegraph/sourcegraph/issues/13884); PRs: ~[#13864](https://github.com/sourcegraph/sourcegraph/pull/13864)~, ~[#13952](https://github.com/sourcegraph/sourcegraph/pull/13952)~) __0.50d__
- [x] (🏁 15 days ago) RFC 201: Update index scheduler to publish new payload ([~#13895~](https://github.com/sourcegraph/sourcegraph/issues/13895); PRs: ~[#14358](https://github.com/sourcegraph/sourcegraph/pull/14358)~)
- [x] (🏁 15 days ago) codeintel: Remove temporary files from firecracker VMs on startup ([~#14411~](https://github.com/sourcegraph/sourcegraph/pull/14411)) :shipit:
- [x] (🏁 15 days ago) RFC 201: Add disk size to VM ([~#14390~](https://github.com/sourcegraph/sourcegraph/issues/14390); PRs: ~[#14412](https://github.com/sourcegraph/sourcegraph/pull/14412)~)
- [x] (🏁 15 days ago) RFC 201: Create index record based on database configuration ([~#14409~](https://github.com/sourcegraph/sourcegraph/issues/14409); PRs: ~[#14415](https://github.com/sourcegraph/sourcegraph/pull/14415)~)
- [x] (🏁 14 days ago) RFC 201: Create index record based on configuration file ([~#13896~](https://github.com/sourcegraph/sourcegraph/issues/13896); PRs: ~[#14358](https://github.com/sourcegraph/sourcegraph/pull/14358)~, ~[#14416](https://github.com/sourcegraph/sourcegraph/pull/14416)~)
- [x] (🏁 14 days ago) codeintel: Fix proper suffix for project root check ([~#14428~](https://github.com/sourcegraph/sourcegraph/pull/14428)) :shipit:
- [x] (🏁 14 days ago) RFC 201: Detect configuration from repo contents ([~#13897~](https://github.com/sourcegraph/sourcegraph/issues/13897); PRs: ~[#14418](https://github.com/sourcegraph/sourcegraph/pull/14418)~)
- [x] (🏁 14 days ago) codeintel: Add go mod download step to go index jobs ([~#14452~](https://github.com/sourcegraph/sourcegraph/pull/14452)) :shipit:
- [x] (🏁 14 days ago) RFC 235: Update bundle manager to read from Postgres ([~#13886~](https://github.com/sourcegraph/sourcegraph/issues/13886); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#13924](https://github.com/sourcegraph/sourcegraph/pull/13924)~) __0.50d__
- [x] (🏁 14 days ago) Server deployment panic due to precise-code-intel-bundle-manager ([~#14467~](https://github.com/sourcegraph/sourcegraph/issues/14467); PRs: ~[#14469](https://github.com/sourcegraph/sourcegraph/pull/14469)~)
- [x] (🏁 13 days ago) RFC 235: Update bundle manager janitor ([~#13887~](https://github.com/sourcegraph/sourcegraph/issues/13887); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#14468](https://github.com/sourcegraph/sourcegraph/pull/14468)~)
- [x] (🏁 13 days ago) codeintel: Run migrations on startup for codeintel database ([~#14484~](https://github.com/sourcegraph/sourcegraph/pull/14484)) :shipit:
- [x] (🏁 13 days ago) RFC 235: Update worker to write to Postgres ([~#13889~](https://github.com/sourcegraph/sourcegraph/issues/13889); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#13946](https://github.com/sourcegraph/sourcegraph/pull/13946)~) __0.50d__
- [x] (🏁 13 days ago) RFC 235: Migrate SQLite data to Postgres ([~#13888~](https://github.com/sourcegraph/sourcegraph/issues/13888); PRs: ~[#13923](https://github.com/sourcegraph/sourcegraph/pull/13923)~, ~[#13932](https://github.com/sourcegraph/sourcegraph/pull/13932)~) __0.50d__
- [x] (🏁 13 days ago) codeintel: Do not block bundle manager startup with migrations ([~#14493~](https://github.com/sourcegraph/sourcegraph/pull/14493)) :shipit:
- [x] (🏁 12 days ago) codeintel: Lower number of goroutines during SQLite -> Postgres migration ([~#14520~](https://github.com/sourcegraph/sourcegraph/pull/14520)) :shipit:
- [x] (🏁 12 days ago) dev: Do not crash startup script on unbound PG variables ([~#14491~](https://github.com/sourcegraph/sourcegraph/pull/14491)) :shipit:
- [x] (🏁 12 days ago) codeintel: De-multiply writes during SQLite -> Postgres migration ([~#14536~](https://github.com/sourcegraph/sourcegraph/pull/14536)) :shipit:
- [x] (🏁 12 days ago) codeintel: Clean up bundle files after SQLite -> Postgres migration ([~#14537~](https://github.com/sourcegraph/sourcegraph/pull/14537)) :shipit:
- [x] (🏁 12 days ago) codeintel: Add indexes to codeintel database tables ([~#14538~](https://github.com/sourcegraph/sourcegraph/pull/14538)) :shipit:
- [x] (🏁 11 days ago) codeintel: Store index job commands and output in the database ([~#14457~](https://github.com/sourcegraph/sourcegraph/pull/14457)) :shipit:
- [x] (🏁 8 days ago) codeintel: Faster online find closest commit operations ([~#14486~](https://github.com/sourcegraph/sourcegraph/issues/14486); PRs: ~[#14581](https://github.com/sourcegraph/sourcegraph/pull/14581)~)
- [x] (🏁 8 days ago) RFC 235: Do not mush data together in the server deployment ([~#14464~](https://github.com/sourcegraph/sourcegraph/issues/14464); PRs: ~[#14487](https://github.com/sourcegraph/sourcegraph/pull/14487)~)
- [x] (🏁 7 days ago) crashfix: SendUserEmailOnFieldUpdate crashes on users without an email ([~#14648~](https://github.com/sourcegraph/sourcegraph/pull/14648)) :shipit:
- [x] (🏁 7 days ago) RFC 235: Update architecture diagram ([~#14605~](https://github.com/sourcegraph/sourcegraph/issues/14605); PRs: ~[#14633](https://github.com/sourcegraph/sourcegraph/pull/14633)~)
- [x] (🏁 7 days ago) dbutil: Extract and reuse postgres batch inserter ([~#14637~](https://github.com/sourcegraph/sourcegraph/pull/14637)) :shipit:
- [x] (🏁 7 days ago) Add postgres bulk insertion mode for tracing ([~#14624~](https://github.com/sourcegraph/sourcegraph/pull/14624)) :shipit:
- [x] (🏁 7 days ago) RFC 235: Update janitor ([~#14566~](https://github.com/sourcegraph/sourcegraph/issues/14566); PRs: ~[#14641](https://github.com/sourcegraph/sourcegraph/pull/14641)~)
- [x] (🏁 7 days ago) codeintel: Stop invalid GetState queries from being executed ([~#14677~](https://github.com/sourcegraph/sourcegraph/pull/14677)) :shipit:
- [x] (🏁 7 days ago) RFC 235: Document minimum time required to be spent in 3.21 ([~#14604~](https://github.com/sourcegraph/sourcegraph/issues/14604); PRs: ~[#14635](https://github.com/sourcegraph/sourcegraph/pull/14635)~)
- [x] (🏁 7 days ago) RFC 235: Find equivalent of the now useless "freeSpace" operation in the janitor ([~#14569~](https://github.com/sourcegraph/sourcegraph/issues/14569); PRs: ~[#14641](https://github.com/sourcegraph/sourcegraph/pull/14641)~)
- [x] (🏁 6 days ago) codeintel: Remove bundle manager hop from query path ([~#14507~](https://github.com/sourcegraph/sourcegraph/pull/14507)) :shipit:
- [x] (🏁 6 days ago) RFC 235: Update metrics ([~#14568~](https://github.com/sourcegraph/sourcegraph/issues/14568); PRs: ~[#14695](https://github.com/sourcegraph/sourcegraph/pull/14695)~)
- [x] (🏁 6 days ago) chore: Fix enterprise frontend build ([~#14721~](https://github.com/sourcegraph/sourcegraph/pull/14721)) :shipit:
- [x] (🏁 6 days ago) chore: Fix enterprise server build ([~#14722~](https://github.com/sourcegraph/sourcegraph/pull/14722)) :shipit:
- [x] (🏁 6 days ago) codeintel: Clean up internal HTTP server setup ([~#14733~](https://github.com/sourcegraph/sourcegraph/pull/14733)) :shipit:
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: gbrik -->
@gbrik: __5.00d__

- [ ] 🚚 LSIF-clang Delivery ([#12349](https://github.com/sourcegraph/sourcegraph/issues/12349)) __4.00d__

Completed: __1.00d__
- [x] (🏁 19 days ago) infer project root automatically if not specified ([~#15~](https://github.com/sourcegraph/lsif-clang/issues/15))
- [x] (🏁 19 days ago) doesn't build on ubuntu 18.04 ([~#3~](https://github.com/sourcegraph/lsif-clang/issues/3)) 🐛
- [x] (🏁 1 day ago) Investigate effort for Bazel integration ([~#13202~](https://github.com/sourcegraph/sourcegraph/issues/13202)) __1.00d__ 🕵️
- [x] (🏁 1 day ago) github.com/nlohmann/json on macOS fails ([~#13~](https://github.com/sourcegraph/lsif-clang/issues/13)) 🐛
<!-- END ASSIGNEE -->

<!-- BEGIN ASSIGNEE: macraig -->
@macraig: __0.50d__


Completed: __0.50d__
- [x] (🏁 13 days ago) Code Intel - LSIF Indexing CNCF effort tracking ([~#14348~](https://github.com/sourcegraph/sourcegraph/issues/14348))
- [x] (🏁 4 days ago) Navigation to definition unavailable from occurrence/usage of symbol in source  ([~#13200~](https://github.com/sourcegraph/sourcegraph/issues/13200)) __0.50d__ 🐛
<!-- END ASSIGNEE -->
<!-- END WORK -->

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🎩 Quality of life
- 🛠️ [Roadmap](https://docs.google.com/document/d/1cBsE9801DcBF9chZyMnxRdolqM_1c2pPyGQz15QAvYI/edit#heading=h.5nwl5fv52ess)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- :shipit: Pull Request


**Planned 2020/09/21-25**

This week I will focus on breaking down the work on RFC 235 (migrating SQLite data to Postgres) into manageable/reviewable changes. I'll also be available for pairing, design, and shadowing some of Aida's tasks to take over my share of the interim management responsibilities.

**Planned 2020/09/21-2020/09/25**
- Finish [RFC 238](https://docs.google.com/document/d/1UYSS3U6m1BOIZqPegd2LlcWZ_pOIfOgdQ0u3fqUEDBg/edit#)
- Mystery hack with Eric :ghost: :eye: *oooo*
- Act on RFC 238 or be cast into limbo to convince the spirits that lsif-java should be rewritten in Kotlin


**Completed 2020/09/21 - 2020/09/25**
- Finished [RFC 238](https://docs.google.com/document/d/1UYSS3U6m1BOIZqPegd2LlcWZ_pOIfOgdQ0u3fqUEDBg/edit#) with 1-1 discussions with Eric
- Combed through https://github.com/georgewfraser/java-language-server and https://github.com/sourcegraph/java-langserver wrt com.sun.source
- Removed Spoon from lsif-java and started "MVP" for com.sun.source based lsif-java

**Planned 2020/09/28 - 2020/10/01**
- More of com.sun.source MVP
- Discuss taking on easy-issue for code-intel in sourcegraph/sourcegraph

#### Completed 2020/09/21 - 2020/09/25
- successfully uploaded LSIF index of tensorflow + linux kernel
- impromptu started bazel investigation in order to upload tensorflow
- rewrote lsif-clang docs

#### Planned
##### 2020/09/21
- Apply common lsif-clang arguments automatically.
- Create lsif-clang showcase using existing OSS repos.

##### 2020/09/23
- Research Bazel.
- Write RFC proposing path forward for Bazel integration.

##### 2020/09/24
- Finish outstanding work from first two days.
- Continue to clean up minor issues on the lsif-clang repository.

**Completed 2020/09/21-25**

Lots of tracking issue improvements. Implemented the majority of RFC 235/RFC 201 work. Most of the effort remaining here will just be on getting the necessary infra reviews and deploying in the correct order.

**Planned 2020/10/01-02**

Will start to work more deeply with @garo on RFC 201 work, as this has a lot of overlap with incremental indexing.

### Completed 2020/09/28-2020/10/2
Cleaned up the way lsif-clang accepts arguments, can now be invoked simply as `lsif-clang compile_commands.json` and it will be easier to add new arguments. Expanded the lsif-clang docs with examples. Switched priority entirely from the Bazel investigation to multiple different delivery efforts, which involved requirements gathering, indexing new repos, and more wading around in build systems.

### Planned 2020/10/05-2020/10/09
:sleeping_bed: 

**Completed 2020/10/01-02**

Short week for me. Mainly discussed priorities around CNCF and RFC 201. We decided that completion of RFC 201 will give us what we need with respect to preparing the CNCF repogroup, so we'll continue to do that.

**Planned 2020/10/05-09**

Complete efforts on RFC 235 (deployment priority) and RFC 201 (CNCF priority).

**Completed 2020/09/28 - 2020/10/01**
- definitions emitting with comsunsource :heavy_check_mark: 
- mostly did understanding work of the existing comsunsource repos

**Planned 2020/10/05 - 2020/10/09**
- same (and hopefully cross) file refs with comsunsource for simple projects


**Completed 2020/10/05-09**

Performed migration from SQLite to Postgres (a bit of blood was shed, but a manageable amount). Finished all of the big work to have user-defined index operations run on our side 😎 .

We are now automatically indexing typescript repositories, and we can drop a configuration in the database for any repository we'd like. Will work with Garo next week to see what we can automate for CNCF C++ repositories.

**Planned 2020/10/12-16**

Tie up a few loose ends in both RFC201 and 235 (I've created additional issues in those tracking issues). I've also planned future work which is **not** in this milestone (so will show in the RFC tracking issue but not this one). Will prioritize whatever needs to be in private instance for before branch cut.

### Completed 2020/10/05 - 2020/10/09
![image](https://user-images.githubusercontent.com/3411715/95752778-8c04e900-0c6e-11eb-9142-397ebdb4780f.png)

### Planned 2020/10/12 - 2020/10/16
- bazel research spike (at laaaaast) #13202 
- reach out to two users for lsif-clang delivery #12349 [lsif-clang#4](https://github.com/sourcegraph/lsif-clang/issues/4)
- investigate template issues in lsif-clang [lsif-clang#14](https://github.com/sourcegraph/lsif-clang/issues/14)
- index some c and objective-c projects to round out the 20 OSS repos indexed [lsif-clang#12](https://github.com/sourcegraph/lsif-clang/issues/12)

**Completed 2020/10/12-16**

Finished the remaining work for RFC 235 (SQLite -> Postgres migration) and RFC 201 (auto-indexer configuration) that was planned for this milestone. Effort will be applied to the remainder of RFC 201 in the next milestone.

Had a meeting with @sourcegraph/campaigns engineers showing them the infrastructure for how code intelligence does safe user-supplied code execution. Did a quick proof of concept to see if we can run `src campaigns apply` in the same infrastructure. It was a success :tada:.

**Plan 2020/10/19**

Planning to write (and publish) a blog post before the 20th explaining some engineering decisions that went into introducing a new Postgres instance.

Will spend remaining time working on refactoring the code intel auto-indexer services into something that is not specific to code intelligence. In doing this refactor, code quality, testing, and docs of the indexer will be improved.

- Created new LSIF delivery status tracking doc
- Reviewed state of code intel docs
- Reviewed open issues/bugs/feature requests for Code intel milestone planning
- Started migrating Code Intel GitHub projects to Backlog and Iteration projects (2 projects vs 5)
