Improve consistency in Sourcegraph's frontend codebase

## Problem to solve
<!-- What is the problem and why is this an important problem to solve? -->
Quarterly [DevX surveys](https://docs.google.com/presentation/d/1YlQRsnwGz77sI3m9Lekff9q56GtaFWqfuR7Wuh-4ex4/edit#slide=id.ge8aecb9a14_0_45) regularly identify "codebase inconsistency" as a main contributor to poor developer experience at Sourcegraph. It makes it difficult for teams to iterate quickly, complicates the debugging process, and bloats CI/CD time. 

A more consistent client codebase will: 
- Reduce mental overhead for engineers by standardizing file structure, naming conventions, patterns, and conventions
- Make it easier to find, implement, and update reusable components 
- Enable us to automate wide-ranging changes and migrate technologies quickly
- Empower teammates to work outside their domain area (and jump into new ones)
- Improve onboarding so that new teammates can have an impact faster

## Measure of success
<!-- How will we validate/verify/know that we have solved the problem? -->
- There's one answer to every question: Codebase conventions are documented in the handbook, as is the long-term vision for our tech stack, tooling, and libraries.
- All major ongoing migrations are complete.
- We see fewer comments about codebase complexity in the quarterly DevX surveys.  

## Solution summary
<!-- How are we going to solve this problem? What dependencies are there? This should be a concise summary followed by a list of concrete artifacts that contain more details (for example: PDs, RFCs) -->

- Define React component file structure, naming conventions, and organization for reusable modules.
- Track and complete ongoing migrations, improve tooling for future migrations, and identify next priority migrations
- Set up linters and component generators that enforce consistency

Artifacts:
- [RFC 641: Consistent frontend platform](https://docs.google.com/document/d/19ZIlY_7ZYtbFRfL1OrLvYh2AlLTQuuBRvN-NzOub59c/edit#heading=h.qmb0cmhf6z2i)
- [RFC 555: Convergence -- project structure and naming](https://docs.google.com/document/d/1lIVS7ABFTV8i6Mq89Mz3oCeQxf5qHOgvr9oUnd-Xp9M/edit#)
- [RFC 674: HSL color migration](https://github.com/sourcegraph/sourcegraph/issues/35499)

## What specific customers are we iterating on the problem and solution with?
<!--
Reference customers by linking to their issue in our accounts repository. DON'T REFERENCE CUSTOMERS BY NAME!

Example:
- https://github.com/sourcegraph/accounts/issues/565
- https://github.com/sourcegraph/accounts/issues/537
- https://github.com/sourcegraph/accounts/issues/580
-->

Internal Sourcegraph developers

## Impact on use cases

<!--
Describe how this roadmap item contributes to improving the customer experience for one or more of the 5 use cases and apply the relevant use-case/* labels to this issue.

For enablement projects that don't target a specific use case, describe how you expect this work to enable teams/projects that are focused on use cases.
-->

## Delivery plan
<!--
The overall plan for how we are going to achieve this roadmap item. This should be formulated as a checklist of concrete steps that are kept up-to-date so anyone can glace at the issue description to get a sense of what we have already delivered and what remains.

Each item on this list is ideally a concrete deliverable with an estimated delivery date and owner, but we don't want false precision, so just document the plan to the best of your ability, even if you don't have all the steps yet.
-->

- TODO
