Prevent a failed preprod build from reaching cloud production

### Context 

The purpose of the preproduction environment is to perform a complete deployment in an environment similar to the cloud production and to run tests on it to ensure it's working properly. In the eventuality of a failure, we need to prevent that build to reach out the cloud production.

Presently, the preprod and cloud production environments are entirely separate and nothing prevents a failed preprod build to reach the production: Renovate will simply pick up images for deployments regardless of the outcome. 

Originally, the plan was to trigger the cloud production pipeline once the preprod pipeline succeeded but in light of the strategy in place to maintain good reliability on cloud production, we're going to stick to scheduled deployment for production, which in that case, need to be able to pick builds that have been tested only. 

### Plan

1. ➡️ @sourcegraph/dev-experience + @sourcegraph/cloud-devops: Find a mechanism that we can reliably use to make sure that Renovate only selects images that went through the staging and got a green build. 
1. Wire the mechanism on preprod, without changing how we handle production and observe the approach and its impact on cloud production deployments. 
1. Wire the mechanism on cloud production.  

### Definition of done

- Only green builds from the preprod are qualified to reach cloud production.
- Alerts are sent if no builds are getting qualified for a given time. 

### Outcome

- TBD

### Resources

- [Miro Board](https://miro.com/app/board/uXjVOKqPSDM=/)
- [RFC 592](https://docs.google.com/document/d/13kVYJSoTWYgyeBFXeJnasF3WU7SHyOjhSNpp9yV_pvY/edit#)
- [RFC 586](https://docs.google.com/document/d/1x7Luv4YM5g3iGxtRcc8YUhf6LKky8P0MOFmbSryrzic/edit#)
- [RFC 562](https://docs.google.com/document/d/1lWq4CTSdiq0OUb2MOeG31Ponk4Ds6oUShrCeNetYxL0/edit#heading=h.trqab8y0kufp) is helpful for identifying areas and teams that could contribute towards defining the smoke tests.

Note: I don't think that any of this is really complicated, but we need to agree on an approach here and make sure we've taken into account its impact on deployments. 

@daxmc99, @danieldides could you tell me if this ticket makes sense for you as it's presently written? 

This looks great, thanks for writing it up. 👍 

Some thoughts I had while writing this: 

_Use docker tags_
 
We could tag the docker images that went through preprod successfully, and configure renovate(or `sg ops) to use those labels to scope what to pick for cloud production updates. 

Possible issue: as we're only tagging the images that are going through the preprod, that means we'll have much fewer images to pick for production. This means that if we roll back things, we may actually roll back to a few commits behind if those were skipped because the preprod pipeline skipped them. 

Example: we have commit on `sourcegraph/sourcegraph` A, B, C, and D. 

1. Commit A is built on preprod and marked for promotion. 
2. Then B, C and D are committed to the `main` branch within 3 minutes. Only `D` reaches preprod, because we're skipping intermediary builds on the preprod pipeline (we don't want to build everything otherwise, we're going to constantly lag behind). 
3. D is promoted and deployed in production. Because D has some bug that was not caught throughout the entire testing process, we need to rollback. 
4. The only rollback available is A, which is two commits earlier. 

We're effectively missing B and C, which may be a problem.


 

Quick update: after talking to @filiphaftek, I learned that we're still using the same renovate schedule for promoting preprod to release, which then happen through a merge. In that case, the issue raised here is irrelevant as it's already covered. 

Can we leverage the same automated SOC 2 notification process for this? If you merge directly into release you have a ticket assigned to you that you need to comment and close?


> Can we leverage the same automated SOC 2 notification process for this? If you merge directly into release you have a ticket assigned to you that you need to comment and close?

That sounds perfect 👍 
