Code intelligence tracking issue 3.13

**Theme** Increase user confidence in code intelligence provided by LSIF and make setup easier.

[Sourcegraph project roadmap](https://docs.google.com/document/d/1cBsE9801DcBF9chZyMnxRdolqM_1c2pPyGQz15QAvYI)

**Chris**

- [x] https://github.com/sourcegraph/sourcegraph/pull/7909 Atomic migrations (on-call work)
- [x] https://github.com/sourcegraph/infrastructure/commit/09f43d04b6fef785936752a0272416dcce599d2d fixed pod-tmp-gc which was causing numerous out-of-disk errors (on-call work)
- [x] https://sourcegraph.atlassian.net/browse/SG-17 Customer needs help publishing to private extension registry
- [x] https://github.com/sourcegraph/src-cli/pull/82 Add `src extension copy` command (for customer 👆)
- [ ] Dart LSIF indexer
  - [x] Fork [crossdart](https://github.com/sourcegraph/crossdart)
  - [x] https://github.com/sourcegraph/crossdart/commit/30c192ae64bfe68a417e3808484b0e5596cf6060 Upgrade to latest Dart SDK 2.7
  - [x] https://github.com/sourcegraph/crossdart/commit/32931faccf6a08e495c8428bf082fc230110f7ca LSIF output mode: initial structure
  - [x] https://github.com/sourcegraph/crossdart/commit/bb70758723f2026516ecff60438d3b17258ffd15 LSIF output mode: skeleton for project and docs
  - [x] https://github.com/sourcegraph/crossdart/commit/809e542b35dce0ed692d5100d9fefeb2fbe61d7e LSIF output mode: emit hovers/defs/refs
  - [x] https://github.com/sourcegraph/crossdart/commit/32b1402a446802aa9b9cff3e3cc1f2fa39491f9b Fix `--dart-sdk` argument
  - [x] https://github.com/sourcegraph/crossdart/commit/60edf1067f707fa22bf67419b3baa014ec5f4f1b Fill in hover with docstrings
  - [x] https://github.com/sourcegraph/crossdart/commit/dbed91f0a15cb59f27fc11eaf19e85356130f5a4 Fix hover highlighting by computing token lengths
  - [x] Recognize more tokens
  - [ ] Recognize parameters
  - [ ] https://github.com/sourcegraph/customer/issues/5 Delivery plan
- [x] https://github.com/sourcegraph/lsif-demos sample code that has LSIF data uploaded for demo purposes
- [x] Make @sourcegraph/code-intel the sole CODEOWNERS of code intel extensions code ([Slack thread](https://sourcegraph.slack.com/archives/CMT39K56Z/p1580245310072900)):
  - https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/204
  - https://github.com/sourcegraph/sourcegraph-go/pull/120
  - https://github.com/sourcegraph/sourcegraph-typescript/pull/312
  - https://github.com/sourcegraph/lsp-client/pull/81
- [x] https://github.com/sourcegraph/lsp-client/pull/42 Fix infinite loop due to duplicate registrations
- [x] https://github.com/sourcegraph/lsif-test/issues/9 LSIF annotator to aide dev/debugging https://github.com/sourcegraph/lsif-test/commit/ad820e31594885435a372ca5e70eeab5491ebad2

**Eric**
- [x] Update code intel regression test suites
  - [x] https://github.com/sourcegraph/sourcegraph/pull/7874
  - [x] https://github.com/sourcegraph/sourcegraph/pull/7890
  - [x] https://github.com/sourcegraph/sourcegraph/pull/7845
- [x] Replace repository names with ids in lsif-server (issue #6278)
  - [x] https://github.com/sourcegraph/sourcegraph/pull/7828
  - [x] https://github.com/sourcegraph/sourcegraph/pull/7896
  - [x] https://github.com/sourcegraph/sourcegraph/pull/7910
- [x] Add additional dev documentation for LSIF
  - [x] https://github.com/sourcegraph/sourcegraph/pull/7931
- [ ] Add precise code intel action telemetry ([RFC 100](https://docs.google.com/document/d/1YVCpWhjWx0fn304vBcsqPkG3ckGNykR1fqWgXv1ckwI/edit#))
  - [x] Get approvals from @nicksnyder and @dadlerj on RFC
  - [x] Add telemetry command to sourcegraph for extensions https://github.com/sourcegraph/sourcegraph/pull/7939
  - [x] Validate json arguments https://github.com/sourcegraph/sourcegraph/pull/7989 and https://github.com/sourcegraph/sourcegraph/pull/7995
  - [x] Send arguments back to logEvent https://github.com/sourcegraph/sourcegraph/pull/7988
  - [x] Add db query methods to get event counts by period https://github.com/sourcegraph/sourcegraph/pull/7992
  - [x] Add db query methods to get latency percentiles by period https://github.com/sourcegraph/sourcegraph/pull/7994
  - [x] Ensure ping payloads are not too big for request query string https://github.com/sourcegraph/sourcegraph/pull/7993
  - [x] Calculate code intel usage from DB https://github.com/sourcegraph/sourcegraph/pull/8029
  - [x] Add code intel usage data to GraphQL https://github.com/sourcegraph/sourcegraph/pull/8000
  - [x] Add code intel usage data to ping requests https://github.com/sourcegraph/sourcegraph/pull/7942
  - [ ] Emit telemetry events in https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/193
  - [ ] Update BigQuery schema and ETL functions to consume new data
- [x] Refactor code intel extensions to make adding events easier
  - [x] Consolidate common logic https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/198
  - [x] Go extension https://github.com/sourcegraph/sourcegraph-go/pull/117
  - [x] TypeScript extension https://github.com/sourcegraph/sourcegraph-typescript/pull/308
- [x] Refactor lsp features in basic-code-intel
  - [x] Follow Go extension https://github.com/sourcegraph/sourcegraph-go/pull/36
  - [x] Follow Typescript extension https://github.com/sourcegraph/sourcegraph-typescript/pull/106
- [ ] Continuous delivery of extensions ([RFC 106](https://docs.google.com/document/d/1PQucBb9rrHPjmszJ-K5_VafkMkpROVibd4l4XLv6-HY))
- [x] Overlapping LSIF roots ([RFC 107](https://docs.google.com/document/d/1yvrPpMVq1Qden-amsPMBoAs-HymuF3Dqe8QAsnqwS1g))

**Michael**
- [x] Add basic code intelligence support for:
    - [x] [Objective-C](https://github.com/sourcegraph/sourcegraph/issues/6655), https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/197
    - [x] [GraphQL](https://github.com/sourcegraph/sourcegraph/issues/3688), https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/206
    - [x] [Verilog and VHDL](https://github.com/sourcegraph/sourcegraph/issues/4915), https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/200
    - [x] [Pascal](https://sourcegraph.slack.com/archives/C0C324C91/p1574368947222300), https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/200
    - [x] [Groovy](https://sourcegraph.slack.com/archives/C0B2RU51Q/p1576716396168200?thread_ts=1576716229.167800&cid=C0B2RU51Q), https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/209
- [ ] Create a multi-language indexer that auto-detects project structure.
    - [x] Write a draft of [RFC 101 Precise Indexing Configuration](https://docs.google.com/document/d/15UxJMWUy40hnoA7Eb35BwMfEtOcWmHTSiC_5N-xD36U)

**External**
- [ ] ~~C# LSIF indexer (Thorsten, slush project)~~ too busy

**Week 2 summary**

- Wrapped up on-call work (atomic DB migrations)
- Implemented hovers/defs/refs in the Dart LSIF indexer

**Week 3 plan**

- Polish and fixes for the Dart LSIF indexer
- Notify customer that it's ready to try out
- Miscellaneous UX improvements to the C++ LSIF indexer

**Week 2 summary**

- Implemented all of the required (known) work for adding code intel usage data to database, graphql resolvers, and updatecheck (blocked on @dan's approval)
- Started exploratory work on semanticdb -> lsif converter

**Week 3 plan 2020-01-27**

- Refactor basic code intel to have all logic for LSIF (remove logic from go/ts extensions)
- Drag code intel telemetry over the finish line

**Week 2 summary**

- Implemented Objective C support for basic code intelligence.

**Week 3 plan 2020-01-27**

- Add the remaining basic intel languages on the roadmap (Groovy, Verilog, VHDL, Pascal, GraphQL).
- Research and write into the currently-empty skeleton RFC 101 (LSIF autoconfiguration).

**Week 3 summary**

* Implemented basic code intelligence for GraphQL, Groovy, Pascal, Verilog, and VHDL.
* Wrote an [initial draft of RFC 101 (WIP)](https://docs.google.com/document/d/15UxJMWUy40hnoA7Eb35BwMfEtOcWmHTSiC_5N-xD36U/edit), Precise Indexing Configuration.

**Week 4 plan 2020-02-03**

* Out Monday, Tuesday, Wednesday (3–5 Feb).
* After returning: Address comments or concerns on the RFC 101 draft, schedule a review.

**Week 3 summary**

- Dart: fixed some UX issues
- Dart: populated hover tooltips with docstrings
- In aid of the Great Refactor: fixed an infinite loop related to duplicate registrations
- Created an LSIF annotator that helps you debug ranges in LSIF dumps

**Week 4 plan 2020-02-03**

- Add more node types to the Dart LSIF indexer (currently only supports simple identifiers)
- Notify customer that it's ready to try out

**Week 3 summary**

- Transformed basic-code-intel into a monorepo for code intel extensions
- Wrote [RFC 106](https://docs.google.com/document/d/1PQucBb9rrHPjmszJ-K5_VafkMkpROVibd4l4XLv6-HY) to provide automatic+continuous delivery for extensions
- Wrote [RFC 107](https://docs.google.com/document/d/1yvrPpMVq1Qden-amsPMBoAs-HymuF3Dqe8QAsnqwS1g) to fix oversight in LSIF root handling

**Week 4 plan 2020-02-03**

- Try to get https://github.com/sourcegraph/sourcegraph/pull/7942 approved by @dadlerj 
- Update basic-code-intel extensions to use lspClient
- Add testing infrastructure to basic-code-intel

**Week 3 summary**

- Fixed analytics pipeline (after breaking it)
- Discussed [RFC 107](https://docs.google.com/document/d/1yvrPpMVq1Qden-amsPMBoAs-HymuF3Dqe8QAsnqwS1g) to sanity check proposal for overlapping LSIF roots
- Continued on *The Great Refactoring*

**Week 4 plan 2020-02-03**

- Finish *The Great Refactoring*
- Implement RFC 107
- Get https://github.com/sourcegraph/sourcegraph/pull/8140 approved by @dadlerj 

**Week 4 summary**

- Addressed issues with basic code intel additions (#8172, #8183, #8314).
- Discussed and addressed most of the comments on the [RFC 101](https://docs.google.com/document/d/15UxJMWUy40hnoA7Eb35BwMfEtOcWmHTSiC_5N-xD36U/edit) draft.
- Discussed and agreed with the [RFC 107](https://docs.google.com/document/d/1yvrPpMVq1Qden-amsPMBoAs-HymuF3Dqe8QAsnqwS1g) draft.

**Week 5 plan 2020-02-10**

- Quick experiments to check whether the proposed RFC 101 implementation strategy is viable on popular CI stacks.
- Get RFC 101 approved (in some form) and start implementing its key features.
- Finish up code intel issues from last week (e.g., #8185, #8186, #8177).

**Week 4 summary**

- Dart: added support for many more tokens and language constructs
- Dart: added definition preview when docstring is missing
- Dart: added to lsif.dev
- Dart: notified Workiva (following delivery plan)

**Week 5 plan 2020-02-10**

- Next item on the roadmap (will discuss in team sync)
- Address any feedback from Workiva

Dear all,

This is your release captain speaking. 🚂🚂🚂

Branch cut for the **3.13 release is scheduled for tomorrow**.

Is this issue / PR going to make it in time? Please change the milestone accordingly.
When in doubt, reach out!

Thank you


**Week 5 summary**

- Improved clojure ctags https://github.com/sourcegraph/sourcegraph/pull/8413
- Merged The Great Refactor https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/223
- Support LSIF reference pagination in extension https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/229

**Week 6 summary**

_Should we move this into a new tracking issue?_

**Week 5 summary**

- Verified the RFC 101 implementation strategy is viable on popular CI stacks.
- Finished up some of the basic code intel issues from the previous week.

**Week 6 plan 2020-02-17**

- Get reviews on RFC 101.
- Write a prototype of the design we agree to.

**Week 5 summary**

- Customer successfully ran the Dart LSIF indexer

**Week 6 plan 2020-02-17**

- N/A

See https://github.com/sourcegraph/sourcegraph/issues/8457.